<ng-form name="formAttributes">
    <fieldset>
        <label for="{{vm.attribute.nameKey}}">{{vm.attribute.labelKey | translate}} </label>
        <div class="row">
            <div ng-class="{'has-error': (addPropertyForm.$submitted || formAttributes.minValue.$dirty || formAttributes.maxValue.$dirty) && formAttributes.minValue.$invalid,
                 'col-xs-5': vm.attribute.min == 'minArea' || vm.attribute.min == 'minLandArea', 'col-xs-5 col-md-3': vm.attribute.min != 'minArea' && vm.attribute.min != 'minLandArea'}">
                <div class="form-group attribute-min">
                    <input class="form-control" type="number" placeholder="min" ng-model="vm.minValue" min="0" max="{{vm.maxValue}}" name="minValue" id="{{vm.attribute.min}}" pattern="{{vm.attribute.regEx}}">
                    <div ng-messages="formAttributes.minValue.$error" ng-show="addPropertyForm.$submitted || formAttributes.minValue.$dirty || formAttributes.maxValue.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>
            </div>
            <div ng-class="{'has-error': (addPropertyForm.$submitted || formAttributes.minValue.$dirty || formAttributes.maxValue.$dirty) && formAttributes.maxValue.$invalid,
                 'col-xs-5': vm.attribute.max == 'maxArea' || vm.attribute.max == 'maxLandArea', 'col-xs-5 col-md-3': vm.attribute.max != 'maxArea' && vm.attribute.max != 'maxLandArea'}">
                <div class="form-group attribute-max">
                    <input class="form-control" type="number" placeholder="max" ng-model="vm.maxValue" min="0" name="maxValue" id="{{vm.attribute.max}}" pattern="{{vm.attribute.regEx}}">
                    <div ng-messages="formAttributes.maxValue.$error" ng-show="addPropertyForm.$submitted || formAttributes.minValue.$dirty || formAttributes.maxValue.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>
            </div>
            <div ng-show="vm.attribute.unit" class="col-xs-2 attribute-unit">{{vm.attribute.unit | translate}}</div>
        </div>
    </fieldset>
</ng-form>
