<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="COMPANY.EDIT_COMPANY"></h2>
    </div>

    <form ng-submit="editCompanyForm.$valid && vm.hasCompanyContacts() && vm.updateCompany()" name="editCompanyForm" id="editCompanyForm" method="post" novalidate>
        <div class="col-md-4">
            <fieldset>
                <h3 class="page-header" translate="COMPANY.BASIC_INFORMATION"></h3>

                <!-- name -->
                <div class="form-group" ng-class="{'has-error': (editCompanyForm.$submitted || editCompanyForm.name.$dirty) && editCompanyForm.name.$invalid}">
                    <label class="required" for="name" translate="COMPANY.NAME"></label>
                    <input type="text" class="form-control" id="name" name="name" required ng-maxlength="128" ng-model="vm.company.name" autocomplete="off">
                    <div ng-messages="editCompanyForm.name.$error" ng-show="editCompanyForm.$submitted || editCompanyForm.name.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>

                <!-- category -->
                <div class="form-group" ng-class="{'has-error': (addCompanyForm.$submitted || addCompanyForm.category.$dirty) && addCompanyForm.category.$invalid}">
                    <label for="name" translate="COMPANY.CATEGORY"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <enum-select id="category" ng-model="vm.company.companyCategoryId" enum-type-code="companyCategory"></enum-select>
                        </div>
                    </div>
                </div>

                <!-- type -->
                <div class="form-group" ng-class="{'has-error': (addCompanyForm.$submitted || addCompanyForm.type.$dirty) && addCompanyForm.type.$invalid}">
                    <label for="name" translate="COMPANY.TYPE"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <enum-select id="type" name="type" ng-model="vm.company.companyTypeId" enum-type-code="companyType"></enum-select>
                        </div>
                    </div>
                </div>

                <!-- description -->
                <div class="form-group" ng-class="{'has-error': (addCompanyForm.$submitted || addCompanyForm.description.$dirty) && addCompanyForm.description.$invalid}">
                    <label for="description" translate="COMPANY.DESCRIPTION"></label>
                    <span class="pull-right character-limit">{{addCompanyForm.description.$viewValue.length || 0}}/{{vm.descriptionMaxLength}}</span>
                    <textarea id="description" kf-max-count="vm.descriptionMaxLength" rows="8" class="form-control" ng-required="false"
                              name="description" ng-model="vm.company.description"></textarea>
                    <div ng-messages="addCompanyForm.description.$error" ng-show="addCompanyForm.$submitted ||addCompanyForm.description.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>

                <!-- website -->
                <div class="form-group" ng-class="{'has-error': (editCompanyForm.$submitted || editCompanyForm.website.$dirty) && editCompanyForm.website.$invalid}">
                    <label for="website" translate="COMPANY.WEBSITE"></label>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="website" name="website" ng-maxlength="2500" ng-model="vm.company.websiteUrl" placeholder="http://">
                            <div class="form-control-feedback">
                                <external-link url="vm.company.websiteUrl" show-text="false"></external-link>
                            </div>
                        </div>
                    </div>
                    <div ng-messages="editCompanyForm.website.$error" ng-show="editCompanyForm.$submitted || editCompanyForm.website.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>

                <!-- clientcareurl -->
                <div class="form-group" ng-class="{'has-error': (editCompanyForm.$submitted || editCompanyForm.clientcareurl.$dirty) && editCompanyForm.clientcareurl.$invalid}">
                    <label for="clientcareurl" translate="COMPANY.CLIENT_CARE_WEBSITE"></label>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="clientcareurl" name="clientcareurl" ng-maxlength="2500" ng-model="vm.company.clientCarePageUrl" placeholder="http://">
                            <div class="form-control-feedback">
                                <external-link url="vm.company.clientCarePageUrl" show-text="false"></external-link>
                            </div>
                        </div>
                    </div>
                    <div ng-messages="editCompanyForm.clientcareurl.$error" ng-show="editCompanyForm.$submitted || editCompanyForm.clientcareurl.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>

                <!-- clientCareStatusId -->
                <div class="form-group">
                    <label for="client-care-status" translate="COMPANY.CLIENT_CARE_STATUS"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <enum-select id="client-care-status" name="clientCareStatus" ng-model="vm.company.clientCareStatusId" enum-type-code="clientCareStatus"></enum-select>
                        </div>
                    </div>
                </div>

                <!-- isValid -->
                <div class="form-group">
                    <label for="comapny-is-valid" translate="COMPANY.IS_VALID"></label>
                    <div>
                        <input id="comapny-is-valid" type="checkbox" ng-model="vm.company.valid">
                        <span translate="COMPANY.IS_VALID_YES"></span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-4">
            <section>
                <list id="list-contacts">
                    <list-header>
                        <h3 class="page-header" translate="COMPANY.CONTACTS"></h3>
                    </list-header>
                    <list-actions>
                        <div class="form-group">
                            <button class="btn btn-default" type="button" ng-click="vm.showContactList()">
                                <i class="fa fa-plus-circle"></i>
                            </button>
                        </div>
                    </list-actions>
                    <list-no-items ng-show="vm.hasCompanyContacts() === false" ng-class="{'has-error': editCompanyForm.$submitted}">
                        <p class="help-block" id="no-contacts-help-block" ng-show="editCompanyForm.$submitted === false" translate="COMPANY.NO_CONTACTS"></p>
                        <p class="help-block" id="contacts-are-required-help-block" ng-show="editCompanyForm.$submitted" translate="COMPANY.CONTACTS_ARE_REQUIRED"></p>
                    </list-no-items>
                    <list-item id="list-item-contact-{{contact.id}}" ng-repeat="contact in vm.company.contacts">
                        {{contact.getName()}}
                    </list-item>
                </list>
            </section>

        </div>

        <div class="col-md-12">
            <div class="form-group">
                <button class="btn btn-default" type="button" ng-click="vm.cancelEditCompany()">
                    <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
                </button>
                <button type="submit" id="company-save-btn" class="btn btn-primary"><i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span></button>
            </div>
        </div>
    </form>
</div>


<side-panel component-id="vm.componentIds.contactSidePanelId">
    <side-panel-header>
        <h3 translate="COMPANY.FINDCONTACT"></h3>
    </side-panel-header>
    <side-panel-content>
        <contact-list component-id="vm.componentIds.contactListId"></contact-list>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelUpdateContacts()">
            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.updateContacts()">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>