<ng-form ng-submit="addAreaForm.$valid" name="addAreaForm" id="addAreaForm" method="post" novalidate>
    <div class="area-details" ng-repeat="area in vm.areas">
        <ng-form name="innerAddAreaForm_{{$index}}">
            <div class="row" ng-if="vm.areas.length > 1">
                <div class="col-xs-12">
                    <button class="close" ng-click="vm.removeArea(area)">&times;</button>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': (addAreaForm['innerAddAreaForm_'+$index].$submitted || addAreaForm['innerAddAreaForm_'+$index].name.$dirty) && addAreaForm['innerAddAreaForm_'+$index].name.$invalid}">
                <label for="name" class="required" translate="COMMERCIAL_PROPERTY.AREA_BREAKDOWN.ADD.NAME"></label>
                <input id="name" name="name" class="form-control" type="text" ng-model="area.name" required ng-maxlength="128">
                <div ng-messages="addAreaForm['innerAddAreaForm_'+$index].name.$error" ng-show="addAreaForm['innerAddAreaForm_'+$index].$submitted || addAreaForm['innerAddAreaForm_'+$index].name.$dirty">
                    <div ng-messages-include="app/common/views/errorMessages.html"></div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': (addAreaForm['innerAddAreaForm_'+$index].$submitted || addAreaForm['innerAddAreaForm_'+$index].size.$dirty) && addAreaForm['innerAddAreaForm_'+$index].size.$invalid}" ng-init="minLength = 0">
                <label for="size" class="required" translate="COMMERCIAL_PROPERTY.AREA_BREAKDOWN.ADD.SIZE"></label>
                <div class="row">
                    <div class="col-xs-4">
                        <input id="size" name="size" class="form-control" ng-model="area.size" type="number" required number-greater-than="{{minLength}}">
                    </div>
                </div>
                <div ng-messages="addAreaForm['innerAddAreaForm_'+$index].size.$error" ng-show="addAreaForm['innerAddAreaForm_'+$index].$submitted || addAreaForm['innerAddAreaForm_'+$index].size.$dirty">
                    <div ng-messages-include="app/common/views/errorMessages.html"></div>
                </div>
            </div>
        </ng-form>
    </div>
    <button class="btn btn-default" type="button" ng-click="vm.addNewArea()"><i class="fa fa-plus-circle"></i></button>
</ng-form>
