<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="TENANCY.VIEW_TENANCY"></h2>

        <div class="row">
            <div class="col-md-12">

                <!-- Details -->
                <div class="well">
                    <button type="button" class="btn btn-default pull-right">
                        <i class="fa fa-pencil"></i> <span translate="COMMON.EDIT"></span>
                    </button>
                    <div>Robert Redford - 123 Knightsbridge</div>
                </div>
                <!-- // Details -->

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">

                <!-- Basic information -->
                <section>
                    <h3 class="page-header" translate="TENANCY.COMMON.BASIC_INFORMATION"></h3>
                </section>
                <!-- // Basic information -->

                <!-- Tenants -->
                <section>
                    <h3 class="page-header" translate="TENANCY.COMMON.TENANTS"></h3>
                </section>
                <!-- // Tenants -->

                <!-- Landlords -->
                <section>
                    <h3 class="page-header" translate="TENANCY.COMMON.LANDLORDS"></h3>
                </section>
                <!-- // Landlords -->

            </div>
            <div class="col-sm-6 col-md-4">

                <!-- Terms -->
                <section>
                    <h3 class="page-header" translate="TENANCY.COMMON.TERMS"></h3>

                    <div class="row section-row">
                        <div class="col-xs-4 section-title" translate="TENANCY.COMMON.START_DATE"></div>
                        <time class="col-xs-8">12-05-2016</time>
                    </div>

                    <div class="row section-row">
                        <div class="col-xs-4 section-title" translate="TENANCY.COMMON.END_DATE"></div>
                        <time class="col-xs-8">12-05-2020</time>
                    </div>

                    <div class="row section-row">
                        <div class="col-xs-4 section-title" translate="TENANCY.COMMON.RENT"></div>
                        <time class="col-xs-8">200 GBP</time>
                    </div>
                </section>
                <!-- // Terms -->

            </div>
        </div>
    </div>
</div>

<!-- Create tenancy -->

<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="TENANCY.CREATE_TENANCY"></h2>

        <form action="#">

            <div class="row">
                <div class="col-sm-6 col-md-4">

                    <!-- Basic information -->
                    <section>
                        <h3 class="page-header" translate="TENANCY.COMMON.BASIC_INFORMATION"></h3>
                    </section>
                    <!-- // Basic information -->

                    <!-- Tenants -->
                    <section>
                        <h3 class="page-header" translate="TENANCY.COMMON.TENANTS"></h3>
                    </section>
                    <!-- // Tenants -->

                    <!-- Landlords -->
                    <section>
                        <h3 class="page-header" translate="TENANCY.COMMON.LANDLORDS"></h3>
                    </section>
                    <!-- // Landlords -->

                </div>
                <div class="col-sm-6 col-md-4">

                    <!-- Terms -->
                    <fieldset>
                        <h3 class="page-header" translate="TENANCY.COMMON.TERMS"></h3>

                        <div class="row">
                            <div class="col-sm-8 col-md-6">
                                <div class="form-group has-error">
                                    <label for="start-date" class="required" translate="TENANCY.COMMON.START_DATE"></label>
                                    <div class="input-group">
                                        <input type="text" id="start-date" class="form-control" placeholder="05-05-2016">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                    <p class="help-block">Field is required</p>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-6">
                                <div class="form-group">
                                    <label for="end-date" class="required" translate="TENANCY.COMMON.END_DATE"></label>
                                    <div class="input-group">
                                        <input type="text" id="end-date" class="form-control" placeholder="05-05-2016">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8 col-md-6">
                                <div class="form-group">
                                <label for="rent-weekly" class="required" translate="TENANCY.COMMON.RENT"></label>
                                    <div class="input-group">
                                        <input type="number" id="rent-weekly" class="form-control">
                                        <div class="input-group-addon">
                                            GBP / week
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <!-- // Terms -->

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

 <!-- // Create tenancy -->
