<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="TENANCY.VIEW_TENANCY"></h2>

        <div class="row">
            <div class="col-md-12">

                <!-- Details -->
                <div class="well">
                    <button type="button" class="btn btn-default pull-right">
                        <i class="fa fa-pencil"></i> <span translate="COMMON.EDIT">Edit</span>
                    </button>
                    <div>Robert Redford - 123 Knightsbridge</div>
                </div>
                <!-- // Details -->

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">

                <!-- Basic information -->
                <section>
                    <h3 class="page-header" translate="TENANCY.COMMON.BASIC_INFORMATION"></h3>
                </section>
                <!-- // Basic information -->

                <!-- Tenants -->
                <section>
                    <h3 class="page-header" translate="TENANCY.COMMON.TENANTS"></h3>
                </section>
                <!-- // Tenants -->

                <!-- Landlords -->
                <section>
                    <h3 class="page-header" translate="TENANCY.COMMON.LANDLORDS"></h3>
                </section>
                <!-- // Landlords -->

            </div>
            <div class="col-sm-6 col-md-4">

                <!-- Terms -->
                <section>
                    <h3 class="page-header" translate="TENANCY.COMMON.TERMS"></h3>

                    <div class="row section-row">
                        <div class="col-xs-4 section-title" translate="TENANCY.COMMON.START_DATE"></div>
                        <time class="col-xs-8">12-05-2016</time>
                    </div>

                    <div class="row section-row">
                        <div class="col-xs-4 section-title" translate="TENANCY.COMMON.END_DATE"></div>
                        <time class="col-xs-8">12-05-2020</time>
                    </div>

                    <div class="row section-row">
                        <div class="col-xs-4 section-title" translate="TENANCY.COMMON.RENT"></div>
                        <time class="col-xs-8">200 GBP</time>
                    </div>
                </section>
                <!-- // Terms -->

            </div>
        </div>
    </div>
</div>
