<div class="row section-row">
    <div class="col-xs-5" translate="OWNERSHIP.VIEW.OWNER"></div>
    <div class="col-xs-7">
        <div class="row">
            <div class="col-md-12" ng-repeat="contact in vm.ownership.contacts">
                {{contact.firstName}} {{contact.surname}}{{$last ? '' : ', '}}
            </div>
        </div>
    </div>
</div>
<div class="row section-row">
    <div class="col-xs-5" translate="OWNERSHIP.VIEW.OWNERSHIPTYPE"></div>
    <div class="col-xs-7">{{vm.ownership.ownershipTypeId | enumTranslate}} </div>
</div>
<div class="row section-row">
    <div class="col-xs-5" translate="OWNERSHIP.VIEW.PURCHASEDATE"></div>
    <div class="col-xs-7">{{vm.ownership.purchaseDate | date : 'dd-MM-yyyy'}}</div>
</div>
<div class="row section-row">
    <div class="col-xs-5" translate="OWNERSHIP.VIEW.SELLDATE"></div>
    <div class="col-xs-7">{{vm.ownership.sellDate | date : 'dd-MM-yyyy'}}</div>
</div>
<div class="row section-row">
    <div class="col-xs-5" translate="OWNERSHIP.VIEW.PURCHASEPRICE"></div>
    <div class="col-xs-7"><span>{{vm.ownership.buyPrice}}</span> <span ng-show="vm.ownership.buyPrice">GBP</span></div>
</div>
<div class="row section-row">
    <div class="col-xs-5" translate="OWNERSHIP.VIEW.SELLPRICE"></div>
    <div class="col-xs-7"><span>{{vm.ownership.sellPrice}}</span> <span ng-show="vm.ownership.sellPrice">GBP</span></div>
</div>