<ng-form name="vm.{{vm.schema.formName}}" ng-if="vm.config">
    <div class="form-group" show-errors>
        <div class="row">
            <div class="col-md-9">
                <label for="status" ng-class="{'required': vm.config[vm.schema.fieldName].required}" translate="{{vm.schema.translationKey}}" ng-if="vm.schema.translationKey"></label>
                <select class="form-control"
                        id="{{vm.schema.controlId}}"
                        name="enumItem"
                        ng-required="vm.config[vm.schema.fieldName].required"
                        ng-disabled="!vm.config[vm.schema.fieldName].active"
                        ng-model="vm.ngModel"
                        ng-change="vm.changeSelectedItem()">
                        <option value="" translate="COMMON.SELECTEMPTYVALUE"></option>
                        <option ng-repeat="item in vm.getEnumItems() track by item.id" value="{{item.id}}">{{item.id | dynamicTranslate}}</option>
                    </select>
                    <div ng-messages="vm[vm.schema.formName].enumItem.$error" ng-show="vm[vm.schema.formName].$submitted || vm[vm.schema.formName].enumItem.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
            </div>
        </div>
    </div>
</ng-form>