<h3 class="page-header" translate="NEGOTIATORS.{{nevm.labelTranslationKey}}.HEADER"></h3>

<h4 translate="NEGOTIATORS.{{nevm.labelTranslationKey}}.LEAD"></h4>
<search ng-show="nevm.isLeadNegotiatorInEditMode" id="lead-search"
        options="nevm.negotiatorsSearchOptions"
        focus-on="nevm.isLeadNegotiatorInEditMode"
        blur-on="!nevm.isLeadNegotiatorInEditMode"
        on-select-item="nevm.changeLeadNegotiator" on-cancel="nevm.cancelChangeLeadNegotiator" load-items="nevm.getUsers"
    item-template-url="app/common/components/negotiators/edit/userSearchTemplate.html" search-placeholder="NEGOTIATORS.{{nevm.labelTranslationKey}}.FIND"></search>
<div ng-hide="nevm.isLeadNegotiatorInEditMode" class="form-group">
    <button class="btn btn-default" id="lead-edit-btn" type="button" ng-click="nevm.editLeadNegotiator()"><i class="fa fa-pencil"></i></button>
</div>
<card id="card-lead-negotiator" card-template-url="'app/activity/templates/negotiatorCard.html'" item="nevm.leadNegotiator">
</card>
<card-list id="card-list-negotiators" show-item-add="nevm.isSecondaryNegotiatorsInEditMode ? null : nevm.editSecondaryNegotiators">
    <card-list-header>
        <h4 class="page-header" translate="NEGOTIATORS.{{nevm.labelTranslationKey}}.SECONDARY"></h4>
        <search ng-show="nevm.isSecondaryNegotiatorsInEditMode" id="secondary-search"
                options="nevm.negotiatorsSearchOptions"
                focus-on="nevm.isSecondaryNegotiatorsInEditMode"
                blur-on="!nevm.isSecondaryNegotiatorsInEditMode"
                on-select-item="nevm.addSecondaryNegotiator" on-cancel="nevm.cancelAddSecondaryNegotiator" load-items="nevm.getUsers"
            item-template-url="app/common/components/negotiators/edit/userSearchTemplate.html" search-placeholder="NEGOTIATORS.{{nevm.labelTranslationKey}}.ADD"></search>
    </card-list-header>
    <card-list-no-items id="empty-secondary-negotiators" ng-show="!nevm.secondaryNegotiators || nevm.secondaryNegotiators.length === 0">
        <p class="help-block" translate="NEGOTIATORS.{{nevm.labelTranslationKey}}.EMPTY"></p>
    </card-list-no-items>
    <card-list-item ng-repeat="negotiator in nevm.secondaryNegotiators | orderBy: ['user.firstName', 'user.lastName']">
        <card id="card-secondary-negotiator" show-context-menu="true" display-new-control="true" card-template-url="'app/activity/templates/negotiatorCard.html'"
            item="negotiator">
            <card-context-menu>
                <context-menu-item type="delete"
                                   item="negotiator"
                                   action="nevm.deleteSecondaryNegotiator">
                </context-menu-item>
            </card-context-menu>
        </card>
    </card-list-item>
</card-list>