// Global Styles

body {

  &::after {
    @extend %fade;
  }

  &.side-panel-open {
    overflow: hidden;

    &::after {
      @extend %fade-in;
    }
  }
}

h3,
.h3 {
  font-size: 22px;
}

ul,
ol {
  margin-bottom: 30px;
  padding-left: 20px;
}

.radio label,
.checkbox label {
  font-size: $font-size-base;
  line-height: 21px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.page-header {
  margin: 20px 0;
  padding-bottom: 5px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
