// Global Styles

body {

  &::after {
    background-color: $color-black-alpha;
    bottom: 0;
    content: '';
    cursor: default;
    height: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    width: 0;
    z-index: 1040;
  }

  &.side-panel-open {
    overflow: hidden;

    &::after {
      height: 100%;
      opacity: 1;
      transition: opacity 0.5s;
      width: 100%;
    }
  }
}

ul,
ol {
  margin-bottom: 30px;
  padding-left: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.page-header {
  margin: 20px 0;
  padding-bottom: 5px;
}
