// Global Styles

body,
html {
  height: 100%;
}

body {
  padding-top: $header-height;

  &::after {
    @extend %fade;
  }

  &.drawer-open {
    overflow: hidden;

    @media (min-width: $screen-sm-min) {
      overflow-y: visible;
    }
  }

  &.side-panel-open {
    overflow: hidden;

    &::after {
      @extend %fade-in;
    }
  }
}

a {
  outline: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

small {
  color: $gray-light;
}

.close {
  opacity: 0.5;
}

.page-wrapper {
  height: 100%;
}

h3,
.h3 {
  font-size: 20px;
  margin-top: 23px;
}

h4,
.h4 {
  font-size: 18px;
  margin-bottom: 18px;
}

h5,
.h5 {
  font-size: 13px;
  font-weight: bold;
  margin: {
    bottom: 10px;
    top: 0;
  }
}

ul,
ol {
  margin-bottom: 30px;
  padding-left: 20px;
}

.page-header {
  margin: 20px 0;
  padding-bottom: 5px;

  .badge {
    border-radius: 0;
    display: inline;
  }
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
