<ng-form name="offerStatusControlForm" ng-if="vm.config">
    <div class="form-group" show-errors>
        <div class="row">
            <div class="col-md-9">
                <label for="status" class="" translate="OFFER.ADD.STATUS"></label>
                <select class="form-control"
                        id="status"
                        name="status"
                        ng-required="vm.config.statusId.required"
                        ng-disabled="!vm.config.statusId.active"
                        ng-model="vm.ngModel"
                        ng-change="vm.changeOfferStatus()">
                    <option value="" translate="COMMON.SELECTEMPTYVALUE"></option>
                    <option ng-repeat="item in vm.getOfferStatuses() track by item.id" value="{{item.id}}">{{item.id | dynamicTranslate}}</option>
                </select>
                <div ng-messages="offerStatusControlForm.status.$error" ng-show="offerStatusControlForm.$submitted || offerStatusControlForm.status.$dirty">
                    <div ng-messages-include="app/common/views/errorMessages.html"></div>
                </div>
            </div>
        </div>
    </div>
</ng-form>