<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="KnightFrank.NuGet" value="http://10.64.0.157/guestAuth/app/nuget/v1/FeedService.svc" />
  </packageSources>
</configuration>