<div ng-if="vm.config">
    <h3 class="page-header"><span translate="ACTIVITY.VIEW.VIEWINGS"></span> <span class="badge">4</span></h3>
    <card-list id="viewings-list">
        <card-list-no-items ng-show="vm.viewings.length === 0">
            <p class="help-block" translate="ACTIVITY.VIEW.NO_VIEWINGS"></p>
        </card-list-no-items>
        <card-list-item ng-repeat="group in vm.viewings | orderBy: '-day'">
            <card-list-group class="viewing-group">
                <card-list-group-header>
                    <h5>
                        <time>{{::group.viewings[0].startDate | date : 'dd-MM-yyyy'}}</time>
                    </h5>
                </card-list-group-header>
                <card-list-group-item ng-repeat="viewing in group.viewings | orderBy: '-startDate' track by viewing.id">
                    <card class="viewing-item"
                        card-template-url="'app/activity/view/activityViewingsCard.html'"
                        item="viewing"
                        show-item-details="vm.showViewingPreview"
                        display-new-control="true">
                    </card>
                </card-list-group-item>
            </card-list-group>
        </card-list-item>
    </card-list>
    <viewing-preview-panel viewing="vm.selectedViewing" is-visible="vm.isPanelVisible">
    </viewing-preview-panel>
</div>