<div ng-if="vm.config">
    <h3 class="page-header"><span translate="ACTIVITY.VIEW.VIEWINGS.HEADER"></span> <span class="badge">{{vm.viewings.length}}</span></h3>
    <card-list id="viewings-list">
        <card-list-no-items ng-show="vm.viewings.length === 0">
            <p class="help-block" translate="ACTIVITY.VIEW.VIEWINGS.NO_VIEWINGS"></p>
        </card-list-no-items>
        <card-list-item ng-repeat="viewing in vm.viewings | orderBy: '-startDate' track by viewing.id">
            <card-with-header class="viewing-item"
                              card-template-url="'app/activity/view/activityViewingsCard.html'"
                              item="viewing"
                              show-item-details="vm.showViewingPreview"
                              display-new-control="true">
                <card-header-content>
                    <span>{{viewing.requirement.getContactNames()}}</span>
                </card-header-content>
            </card-with-header>
        </card-list-item>
    </card-list>
    <viewing-preview-panel viewing="vm.selectedViewing" is-visible="vm.isPanelVisible">
    </viewing-preview-panel>
</div>