<p name="requiredValidationError" ng-message="required" class="help-block with-errors" translate="FORM.FIELD_IS_REQUIRED"></p>
<p name="maxLengthValidationError" ng-message="maxlength" class="help-block with-errors" translate="FORM.FIELD_EXCEEDED_MAX_LENGTH"></p>
<p name="kfMaxCountValidationError" ng-message="kfMaxCount" class="help-block with-errors" translate="FORM.FIELD_EXCEEDED_MAX_LENGTH"></p>
<p name="numberValidationError" ng-message="number" class="help-block with-errors" translate="FORM.FIELD_SHOULD_BE_NUMBER"></p>
<p name="minNumberValidationError" ng-message="min" class="help-block with-errors" translate="FORM.FIELD_SHOULD_BE_GREATER_THAN_ZERO"></p>
<p name="maxNumberValidationError" ng-message="max" class="help-block with-errors" translate="FORM.MIN_SHOULD_BE_LESS_THAN_MAX"></p>
<p name="listNotEmptyValidationError" ng-message="listNotEmpty" class="help-block with-errors" translate="FORM.LIST_SHOULD_NOT_BE_EMPTY"></p>
<p name="fileRequiredValidationError" ng-message="fileRequired" class="help-block with-errors" translate="FORM.FILE_MUST_BE_PROVIDED"></p>
<p name="formatValidationError" ng-message="pattern" class="help-block with-errors" translate="FORM.FIELD_HAS_INVALID_FORMAT"></p>
<p name="overlappingDateValidationError" ng-message="dontOverlap" class="help-block with-errors" translate="FORM.FIELD_OVERLAPS_RANGE"></p>
<p name="dateValidationError" ng-message="date" class="help-block with-errors" translate="FORM.DATE_HAS_INVALID_FORMAT"></p>
<p name="maxDateValidationError" ng-message="kfMaxDate" class="help-block with-errors" translate="FORM.DATE_CAN_NOT_BE_FROM_FUTURE"></p>
<p name="dateLowerThanValidationError" ng-message="dateLowerThan" class="help-block with-errors" translate="FORM.DATE_CAN_NOT_BE_GRATER_THAN"></p>
<p name="dateGreaterThanValidationError" ng-message="dateGreaterThan" class="help-block with-errors" translate="FORM.DATE_CAN_NOT_BE_LOWER_THAN"></p>
<p name="timeValidationError" ng-message="time" class="help-block with-errors" translate="FORM.FIELD_HAS_INVALID_FORMAT"></p>
<p name="timeLowerThanValidationError" ng-message="timeLowerThan" class="help-block with-errors" translate="FORM.TIME_CAN_NOT_BE_GRATER_THAN"></p>
<p name="timeGreaterThanValidationError" ng-message="timeGreaterThan" class="help-block with-errors" translate="FORM.TIME_CAN_NOT_BE_LOWER_THAN"></p>
<p name="numberGreaterThanValidationError" ng-message="numberGreaterThan" class="help-block with-errors" translate="FORM.NUMBER_HAS_TO_BE_GREATER_THAN" translate-values="{value: {{minLength || 0}}}"></p>
<p name="numberPrecisionValidationError" ng-message="numberPrecision" class="help-block with-errors" translate="FORM.NUMBER_HAS_TO_BE_INTEGER"></p>