<p name="requiredValidationError" ng-message="required" class="help-block with-errors" translate="FORM.FIELD_IS_REQUIRED"></p>
<p name="maxLengthValidationError" ng-message="maxlength" class="help-block with-errors" translate="FORM.FIELD_EXCEEDED_MAX_LENGTH"></p>
<p name="numberValidationError" ng-message="number" class="help-block with-errors" translate="FORM.FIELD_SHOULD_BE_NUMBER"></p>
<p name="minNumberValidationError" ng-message="min" class="help-block with-errors" translate="FORM.FIELD_SHOULD_BE_GREATER_THAN_ZERO"></p>
<p name="maxNumberValidationError" ng-message="max" class="help-block with-errors" translate="FORM.MIN_SHOULD_BE_LESS_THAN_MAX"></p>
<p name="listNotEmptyValidationError" ng-message="listNotEmpty" class="help-block with-errors" translate="FORM.LIST_SHOULD_NOT_BE_EMPTY"></p>
<p name="formatValidationError" ng-message="pattern" class="help-block with-errors" translate="FORM.FIELD_HAS_INVALID_FORMAT"></p>
<p name="dateValidationError" ng-message="date" class="help-block with-errors" translate="FORM.DATE_HAS_INVALID_FORMAT"></p>