<ng-form name='vm.{{vm.schema.formName}}' ng-if="vm.config" id="price-edit-control">
    <div class="form-group" show-errors>
        <div class="row">
            <div class="col-md-12">
                <label for="{{vm.schema.controlId}}" translate="{{vm.schema.translationKey}}" ng-class="{required: vm.config[vm.schema.fieldName].required}"></label>
                <div class="input-group">
                    <input ng-model="vm.ngModel"
                           id="{{vm.schema.controlId}}" ng-required="vm.config[vm.schema.fieldName].required" ng-disabled="!vm.config[vm.schema.fieldName].active"
                           name="price" class="form-control" type="number" number-greater-than="0" />
                    <div class="input-group-addon" translate="{{vm.schema.suffix || 'GBP'}}"></div>
                </div>
                <div ng-messages="vm[vm.schema.formName].price.$error" ng-show="vm[vm.schema.formName].$submitted || vm[vm.schema.formName].price.$dirty">
                    <p name="numberGreaterThanValidationError" ng-message="numberGreaterThan" class="help-block with-errors" translate="FORM.NUMBER_HAS_TO_BE_GREATER_THAN" translate-values="{value: 0}"></p>
                    <div ng-messages-include="app/common/views/errorMessages.html"></div>
                </div>
            </div>
        </div>
    </div>
</ng-form>