<ng-form name='vm.{{vm.schema.formName}}' ng-if="vm.config" id="price-edit-control">
    <div class="form-group" show-errors>
        <div class="row">
            <div class="col-md-7">
                <label for="price" translate="{{vm.schema.translationKey}}"></label>
                <div class="input-group">
                    <input ng-model="vm.ngModel"
                           id="{{vm.schema.controlId}}" ng-required="vm.config[vm.schema.fieldName].required"
                           name="price" class="form-control" type="number" min="0" />
                    <div class="input-group-addon">GBP</div>
                </div>
                <div ng-messages="vm[vm.schema.formName].price.$error" ng-show="vm[vm.schema.formName].$submitted || vm[vm.schema.formName].price.$dirty">
                    <div ng-messages-include="app/common/views/errorMessages.html"></div>
                </div>
            </div>
        </div>
    </div>
</ng-form>