<div class="row">
    <div class="col-md-12">

        <!-- Property details -->
        <h2 class="page-header" translate="REQUIREMENT.VIEW.REQUIREMENT_DETAILS"></h2>
        <div class="well requirement-details-header">
            <div translate="REQUIREMENT.VIEW.TEMPORARY_RESIDENTIAL_SALES"></div>
            <div>
                <span translate="REQUIREMENT.VIEW.CREATEDDATE"></span>
                <span>{{ vm.requirement.createDate | date: 'longDate' }}</span>
            </div>
            <div class="well-action-bar">
                <button id="notes-button" class="btn btn-default" type="button" ng-click="vm.showNotesPanel()"><i class="fa fa-sticky-note" aria-hidden="true"></i> {{ 'REQUIREMENT.VIEW.NOTES' | translate }} <span>({{vm.requirement.requirementNotes.length}})</span></button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.LOCATION"></h3>
                    <requirement-address-form-view address="vm.requirement.address">
                    </requirement-address-form-view>
                </section>

                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.BASIC_REQUIREMENTS"></h3>
                    <range-view label="{{ 'REQUIREMENT.VIEW.PRICE' | translate }}" min="vm.requirement.minPrice" max="vm.requirement.maxPrice" suffix="'GBP'"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.BEDROOMS' | translate }}" min="vm.requirement.minBedrooms" max="vm.requirement.maxBedrooms"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.RECEPTIONROOMS' | translate }}" min="vm.requirement.minReceptionRooms" max="vm.requirement.maxReceptionRooms"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.BATHROOMS' | translate }}" min="vm.requirement.minBathrooms" max="vm.requirement.maxBathrooms"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.PARKINGSPACES' | translate }}" min="vm.requirement.minParkingSpaces" max="vm.requirement.maxParkingSpaces"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.AREA' | translate }}" min="vm.requirement.minArea" max="vm.requirement.maxArea" suffix="'sq ft'"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.LANDAREA' | translate }}" min="vm.requirement.minLandArea" max="vm.requirement.maxLandArea" suffix="'sq ft'"></range-view>
                </section>

                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.DESCRIPTION"></h3>
                    <p>{{ vm.requirement.description}}</p>
                </section>
            </div>
            <div class="col-md-4" id="applicant-list">
                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.APPLICANT">Applicant</h3>

                    <div class="panel panel-default applicant" ng-repeat="contact in vm.requirement.contacts">
                        <div class="panel-body">
                            {{ contact.firstName }} {{ contact.surname }}
                        </div>
                    </div>
                </section>

                <section>
                    <h3 class="page-header">Viewings</h3>
                    <div class="form-group">
                        <button type="button" class="btn btn-default"><i class="fa fa-plus-circle"></i></button>
                    </div>

                    <div>
                        <h5><time>12-05-2015</time></h5>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel-item">55 Baker St.</div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a href="#">details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel-item">55 Baker St.</div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a href="#">details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h5><time>10-05-2015</time></h5>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel-item">55 Baker St.</div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a href="#">details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<side-panel>
    <side-panel-header>
        <h3>Select activity</h3>
    </side-panel-header>
    <side-panel-content>
        <div class="panel panel-default">
            <div class="panel-body">
                <label>
                    <input type="radio"> 55 Baker St.
                </label>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <label>
                    <input type="radio"> 55 Baker St.
                </label>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <label>
                    <input type="radio"> 55 Baker St.
                </label>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <label>
                    <input type="radio"> 55 Baker St.
                </label>
            </div>
        </div>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button">
             <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button">
            <span translate="COMMON.CONFIGURE"></span> <i class="fa fa-angle-double-right"></i>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel>
    <side-panel-header>
        <h3>Viewing details</h3>
    </side-panel-header>
    <side-panel-content>
        <h5>Activity:</h5>
        <div class="panel panel-default">
            <div class="panel-body">
                55 Baker St.
            </div>
        </div>
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <label class="required" for="viewing-date">Date:</label>
                        <div class="input-group">
                            <input type="text" id="viewing-date" class="form-control" placeholder="dd-mm-yyyy">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                        timepicker
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                        timepicker
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="required">Attendees:</label>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Robert Redford
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Robert Redford
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="invitation-text">Invitation text:</label>
                <span class="pull-right character-limit">0/4000</span>
                <textarea id="invitation-text" class="form-control" rows="6"></textarea>
            </div>
            <div class="form-group">
                <label for="post-viewing-comment">Post-viewing comment:</label>
                <span class="pull-right character-limit">0/4000</span>
                <textarea id="post-viewing-comment" class="form-control" rows="6"></textarea>
            </div>
        </form>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button">
            <i class="fa fa-angle-double-left"></i> <span translate="COMMON.BACK"></span>
        </button>
        <button class="btn btn-primary" type="button">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel>
    <side-panel-header>
        <h3>Viewing details</h3>
    </side-panel-header>
    <side-panel-content>
        <section class="section-details">
            <h5>Activity</h5>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-item">55 Baker St., London W1U A8N</div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="#">view</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-details">
            <h5>Date</h5>
            <time>12-05-2015, 10:00 - 11:00</time>
        </section>

        <section class="section-details">
            <h5>Attendees</h5>
            <div class="panel panel-default">
                <div class="panel-body">Robert Redford</div>
            </div>
        </section>

        <section class="section-details">
            <h5>Invitation text</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at pretium leo. Proin pretium, lacus eu venenatis volutpat, sapien sapien finibus lacus, eget blandit sapien leo eu nibh. Praesent diam libero, consectetur a ipsum et, pulvinar mollis dui. Maecenas sodales non sapien eget placerat. Nunc pretium imperdiet ligula, eget ornare ipsum sodales quis.</p>
        </section>

        <section class="section-details">
            <h5>Post-viewing comment</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at pretium leo. Proin pretium, lacus eu venenatis volutpat, sapien sapien finibus lacus, eget blandit sapien leo eu nibh. Praesent diam libero, consectetur a ipsum et, pulvinar mollis dui. Maecenas sodales non sapien eget placerat. Nunc pretium imperdiet ligula, eget ornare ipsum sodales quis.</p>
            <p>Aenean commodo rutrum sem sagittis hendrerit. Suspendisse pharetra nisl sed turpis sagittis, lobortis faucibus enim vulputate. Praesent sed lacus nisi. In vestibulum consectetur tristique. Fusce quis leo congue elit laoreet tempor non dignissim dolor. In vitae erat pellentesque, pretium est non, condimentum quam.</p>
        </section>
    </side-panel-content>
    <side-panel-footer>
        <button type="button" class="btn btn-default pull-left"><i class="fa fa-pencil"></i> <span translate="COMMON.EDIT"></span></button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.notesSidePanelId">
    <side-panel-header>
        <h3 translate="NOTES.NOTES"></h3>
    </side-panel-header>
    <side-panel-content>
        <requirement-note-add component-id="vm.componentIds.noteAddId" requirement="vm.requirement"></requirement-note-add>
        <requirement-note-list component-id="vm.componentIds.noteListId" requirement="vm.requirement"></requirement-note-list>
    </side-panel-content>
</side-panel>
