<div class="row">
    <div class="col-md-12">

        <!-- Property details -->
        <h2 class="page-header" translate="REQUIREMENT.VIEW.REQUIREMENT_DETAILS"></h2>
        <div class="well requirement-details-header">
            <div translate="REQUIREMENT.VIEW.TEMPORARY_RESIDENTIAL_SALES"></div>
            <div>
                <span translate="REQUIREMENT.VIEW.CREATEDDATE"></span>
                <span>{{ vm.requirement.createDate | date: 'longDate' }}</span>
            </div>
            <div class="well-action-bar">
                <button id="notes-button" class="btn btn-default" type="button" ng-click="vm.showNotesPanel()"><i class="fa fa-sticky-note" aria-hidden="true"></i> {{ 'REQUIREMENT.VIEW.NOTES' | translate }} <span>({{vm.requirement.requirementNotes.length}})</span></button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.LOCATION"></h3>
                    <requirement-address-form-view address="vm.requirement.address">
                    </requirement-address-form-view>
                </section>

                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.BASIC_REQUIREMENTS"></h3>
                    <range-view label="{{ 'REQUIREMENT.VIEW.PRICE' | translate }}" min="vm.requirement.minPrice" max="vm.requirement.maxPrice" suffix="'GBP'"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.BEDROOMS' | translate }}" min="vm.requirement.minBedrooms" max="vm.requirement.maxBedrooms"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.RECEPTIONROOMS' | translate }}" min="vm.requirement.minReceptionRooms" max="vm.requirement.maxReceptionRooms"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.BATHROOMS' | translate }}" min="vm.requirement.minBathrooms" max="vm.requirement.maxBathrooms"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.PARKINGSPACES' | translate }}" min="vm.requirement.minParkingSpaces" max="vm.requirement.maxParkingSpaces"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.AREA' | translate }}" min="vm.requirement.minArea" max="vm.requirement.maxArea" suffix="'sq ft'"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.LANDAREA' | translate }}" min="vm.requirement.minLandArea" max="vm.requirement.maxLandArea" suffix="'sq ft'"></range-view>
                </section>

                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.DESCRIPTION"></h3>
                    <p>{{ vm.requirement.description}}</p>
                </section>
            </div>
            <div class="col-md-4" id="applicant-list">
                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.APPLICANT">Applicant</h3>

                    <div class="panel panel-default applicant" ng-repeat="contact in vm.requirement.contacts">
                        <div class="panel-body">
                            {{ contact.firstName }} {{ contact.surname }}
                        </div>
                    </div>
                </section>

                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.VIEWINGS"></h3>
                    <card-list id="viewings-list" show-item-add="vm.showActivitiesPanel">
                        <card-list-no-items ng-show="vm.requirement.viewings === 0">
                            <p class="help-block" translate="PROPERTY.LIST.NO_ITEMS"></p>
                        </card-list-no-items>
                     
                        <card-list-item ng-repeat="group in vm.requirement.viewingsByDay | orderBy: '-day'">
                            <card-list-group>
                                <card-list-group-header>
                                    <h5><time>{{::group.viewings[0].startDate | date : 'dd-MM-yyyy'}}</time></h5>
                                </card-list-group-header>
                                <card-list-group-item ng-repeat="viewing in group.viewings | orderBy: '-startDate' track by viewing.id">
                                    <card card-template-url="'app/requirement/view/requirementViewingsCard.html'" item="viewing" show-item-details="vm.showViewingView">
                                    </card>
                                </card-list-group-item>
                            </card-list-group>
                        </card-list-item>
                    </card-list>
                </section>
            </div>
        </div>
    </div>
</div>

<side-panel component-id="vm.componentIds.configureViewingsSidePanelId">
    <side-panel-header>
        <h3 translate="REQUIREMENT.VIEW.SELECTACTIVITY" ng-show="!vm.viewingDetailsPanelVisible"></h3>

        <h3 translate="REQUIREMENT.VIEW.VIEWINGDETAILS" ng-show="vm.viewingDetailsPanelVisible"></h3>
    </side-panel-header>
    <side-panel-content>
        <activities-list component-id="vm.componentIds.activitiesListId" ng-show="!vm.viewingDetailsPanelVisible">
        </activities-list>

        <viewing-details component-id="vm.componentIds.viewingDetailsId" requirement-id="vm.requirement.id" attendees="vm.requirement.contacts" viewings="vm.requirement.viewings"
                         ng-show="vm.viewingDetailsPanelVisible">
        </viewing-details>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelConfigureViewings()" ng-show="!vm.viewingDetailsPanelVisible">
            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.showViewingDetailsPanel()" ng-show="!vm.viewingDetailsPanelVisible">
            <span translate="COMMON.CONFIGURE"></span> <i class="fa fa-angle-double-right"></i>
        </button>

        <button class="btn btn-default" type="button" ng-click="vm.cancelViewingDetails()" ng-show="vm.viewingDetailsPanelVisible">
            <i class="fa fa-angle-double-left"></i> <span translate="COMMON.BACK"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.saveViewing()" ng-disabled="vm.loadingActivities" ng-show="vm.viewingDetailsPanelVisible">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.notesSidePanelId">
    <side-panel-header>
        <h3 translate="NOTES.NOTES"></h3>
    </side-panel-header>
    <side-panel-content>
        <requirement-note-add component-id="vm.componentIds.noteAddId" requirement="vm.requirement"></requirement-note-add>
        <requirement-note-list component-id="vm.componentIds.noteListId" requirement="vm.requirement"></requirement-note-list>
    </side-panel-content>
</side-panel>
