<div class="card-item">West Forum, 142a Strzegomska</div>
<div class="card-info">
  <span class="offer-status offer-status-new">New</span><span>2.000.000</span>
</div>
<div class="card-info">
  <span class="offer-status offer-status-accepted">Accepted</span><span>2.000.000</span>
</div>
<div class="card-info">
  <span class="offer-status offer-status-rejected">Rejected</span><span>2.000.000</span>
</div>
<div class="card-info">
  <span class="offer-status offer-status-withdraw">Withdraw</span><span>2.000.000</span>
</div>
