<div class="row">
    <div class="col-md-12">
        <!-- Property details -->
        <h2 class="page-header" translate="REQUIREMENT.VIEW.REQUIREMENT_DETAILS"></h2>
        <div class="well requirement-details-header">
            <div translate="REQUIREMENT.VIEW.TEMPORARY_RESIDENTIAL_SALES"></div>
            <div>
                <span translate="REQUIREMENT.VIEW.CREATEDDATE"></span>
                <span>{{ vm.requirement.createDate | date: 'longDate' }}</span>
            </div>
            <div class="well-action-bar">
                <button id="notes-button" class="btn btn-default" type="button" ng-click="vm.showNotesPanel()"><i class="fa fa-sticky-note" aria-hidden="true"></i> {{ 'REQUIREMENT.VIEW.NOTES' | translate }} <span>({{vm.requirement.requirementNotes.length}})</span></button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <section>
                    <requirement-type-preview-control type-id="vm.requirement.requirementTypeId" config="vm.config.requirement_RequirementType"/>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.LOCATION"></h3>
                    <address-form-view address="vm.requirement.address"
                                       address-type="requirement"
                                       template-url="'app/common/components/addressForm/addressFormView/templates/requirementAddressForm.html'"></address-form-view>
                </section>

                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.BASIC_REQUIREMENTS"></h3>
                    <range-view label="{{ 'REQUIREMENT.VIEW.PRICE' | translate }}" min="vm.requirement.minPrice" max="vm.requirement.maxPrice" suffix="'GBP'"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.BEDROOMS' | translate }}" min="vm.requirement.minBedrooms" max="vm.requirement.maxBedrooms"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.RECEPTIONROOMS' | translate }}" min="vm.requirement.minReceptionRooms" max="vm.requirement.maxReceptionRooms"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.BATHROOMS' | translate }}" min="vm.requirement.minBathrooms" max="vm.requirement.maxBathrooms"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.PARKINGSPACES' | translate }}" min="vm.requirement.minParkingSpaces" max="vm.requirement.maxParkingSpaces"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.AREA' | translate }}" min="vm.requirement.minArea" max="vm.requirement.maxArea" suffix="'sq ft'"></range-view>
                    <range-view label="{{ 'REQUIREMENT.VIEW.LANDAREA' | translate }}" min="vm.requirement.minLandArea" max="vm.requirement.maxLandArea" suffix="'sq ft'"></range-view>
                </section>

                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.DESCRIPTION"></h3>
                    <p>{{ vm.requirement.description}}</p>
                </section>
            </div>
            <div class="col-md-4" id="applicant-list">
                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.APPLICANT">Applicant</h3>

                    <div class="panel panel-default applicant" ng-repeat="contact in vm.requirement.contacts">
                        <div class="panel-body">
                            {{::contact.getName()}}
                        </div>
                    </div>
                </section>

                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.VIEWINGS"></h3>
                    <card-list id="viewings-list" show-item-add="vm.showActivitiesPanel" is-item-add-disabled="vm.saveViewingBusy">
                        <card-list-no-items ng-show="vm.requirement.viewings.length === 0">
                            <p class="help-block" translate="REQUIREMENT.VIEW.NO_VIEWINGS"></p>
                        </card-list-no-items>
                        <card-list-item ng-repeat="group in vm.requirement.viewingsByDay | orderBy: '-day'">
                            <card-list-group class="viewing-group">
                                <card-list-group-header>
                                    <h5><time>{{::group.viewings[0].startDate | date : 'dd-MM-yyyy'}}</time></h5>
                                </card-list-group-header>
                                <card-list-group-item ng-repeat="viewing in group.viewings | orderBy: '-startDate' track by viewing.id">
                                    <card class="viewing-item" show-context-menu="true" show-item-details="vm.showViewingPreview" display-new-control="true"
                                          card-template-url="'app/requirement/view/requirementViewingsCard.html'" item="viewing">

                                        <card-context-menu>
                                            <context-menu-item type="makeoffer" item="viewing" action="vm.showAddOfferPanel"></context-menu-item>
                                        </card-context-menu>
                                    </card>
                                </card-list-group-item>
                            </card-list-group>
                        </card-list-item>
                    </card-list>
                </section>
                <attachments-manager entity-id="vm.requirement.id" enum-document-type="{{vm.enumTypeRequirementDocumentType}}" entity-type="{{vm.entityType}}" attachments="vm.requirement.attachments" on-save-attachment-for-entity="vm.saveAttachment(attachment)"></attachments-manager>
            </div>
            <div class="col-md-4">
                <section>
                    <h3 class="page-header" translate="REQUIREMENT.VIEW.OFFERS"></h3>
                    <card-list-item class="requirement-view-offers" ng-repeat="offer in vm.requirement.offers | orderBy: '-createdDate' | enumSorter: 'OfferStatus':'statusId' track by offer.id + offer.statusId + offer.offerDate">
                        <card show-context-menu="true" show-item-details="vm.showOfferPreview" display-new-control="true"
                              card-template-url="'app/requirement/view/requirementOffersCard.html'" item="offer">
                            <card-context-menu>
                                <context-menu-item type="edit" item="offer" action="vm.showEditOfferPanel"></context-menu-item>
                                <context-menu-item type="details" item="offer" action="vm.showOfferDetailsView"></context-menu-item>
                            </card-context-menu>
                        </card>
                    </card-list-item>
                </section>
            </div>
        </div>
    </div>
</div>

<side-panel component-id="vm.componentIds.offerPreviewSidePanelId" is-busy="vm.addEditOfferBusy">
    <side-panel-header>
        <h3 translate="REQUIREMENT.VIEW.OFFERPREVIEW" ng-show="vm.offerPreviewPanelVisible"></h3>
        <h3 translate="REQUIREMENT.VIEW.OFFERDETAILS" ng-show="!vm.offerPreviewPanelVisible"></h3>
    </side-panel-header>
    <side-panel-content>
        <offer-preview component-id="vm.componentIds.offerPreviewId" offer="vm.selectedOffer" ng-show="vm.offerPreviewPanelVisible">
            <offer-preview-custom-item>
                <activity-card activity="vm.selectedOffer.activity" />
            </offer-preview-custom-item>
        </offer-preview>
        <offer-details-edit component-id="vm.componentIds.offerEditPreviewId" ng-show="!vm.offerPreviewPanelVisible" mode="edit"></offer-details-edit>
        <busy is-busy="vm.addEditOfferBusy" label="{{'OFFER.ADD.SAVING_OFFER_IN_PROGRESS' | translate}}"></busy>
    </side-panel-content>
    <side-panel-footer>
        <button type="button" class="btn btn-default pull-left" ng-click="vm.showEditOfferPreviewPanel()" ng-show="vm.offerPreviewPanelVisible">
            <i class="fa fa-pencil"></i> <span translate="COMMON.EDIT"></span>
        </button>
        <button class="btn btn-default" type="button" ng-click="vm.cancelOfferEditPreview()" ng-show="!vm.offerPreviewPanelVisible">
            <i class="fa fa-angle-double-left"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-show="!vm.offerPreviewPanelVisible" ng-click="vm.saveEditPreviewOffer()">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.offerEditSidePanelId" is-busy="vm.addEditOfferBusy">
    <side-panel-header>
        <h3 translate="REQUIREMENT.VIEW.OFFERDETAILS"></h3>
    </side-panel-header>
    <side-panel-content>
        <offer-details-edit component-id="vm.componentIds.offerEditId" mode="edit"></offer-details-edit>
        <busy is-busy="vm.addEditOfferBusy" label="{{'OFFER.ADD.SAVING_OFFER_IN_PROGRESS' | translate}}"></busy>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelOfferEdit()">
            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.saveEditOffer()">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.configureViewingsSidePanelId" is-busy="vm.saveViewingBusy">
    <side-panel-header>
        <h3 translate="REQUIREMENT.VIEW.SELECTACTIVITY" ng-show="!vm.viewingAddPanelVisible"></h3>
        <h3 translate="REQUIREMENT.VIEW.VIEWINGADD" ng-show="vm.viewingAddPanelVisible"></h3>
    </side-panel-header>
    <side-panel-content>
        <activities-list component-id="vm.componentIds.activitiesListId" ng-show="!vm.viewingAddPanelVisible">
        </activities-list>

        <viewing-add component-id="vm.componentIds.viewingAddId" requirement="vm.requirement" attendees="vm.requirement.contacts"
                     ng-show="vm.viewingAddPanelVisible" mode="add">
        </viewing-add>
        <busy is-busy="vm.saveViewingBusy" label="{{'VIEWING.ADD.SAVING_VIEWING_IN_PROGRESS' | translate}}"></busy>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelConfigureViewings()" ng-show="!vm.viewingAddPanelVisible">
            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.showViewingAddPanel()" ng-show="!vm.viewingAddPanelVisible">
            <span translate="COMMON.CONFIGURE"></span> <i class="fa fa-angle-double-right"></i>
        </button>

        <button class="btn btn-default" type="button" ng-click="vm.cancelViewingAdd()" ng-show="vm.viewingAddPanelVisible">
            <i class="fa fa-angle-double-left"></i> <span translate="COMMON.BACK"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.saveViewing()" ng-disabled="vm.loadingActivities" ng-show="vm.viewingAddPanelVisible">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.notesSidePanelId">
    <side-panel-header>
        <h3 translate="NOTES.NOTES"></h3>
    </side-panel-header>
    <side-panel-content>
        <requirement-note-add component-id="vm.componentIds.noteAddId" requirement="vm.requirement"></requirement-note-add>
        <requirement-note-list component-id="vm.componentIds.noteListId" requirement="vm.requirement"></requirement-note-list>
    </side-panel-content>
</side-panel>

<side-panel component-id="vm.componentIds.previewViewingSidePanelId" id="viewing-panel" is-busy="vm.saveViewingBusy">
    <side-panel-header>
        <h3 translate="REQUIREMENT.VIEW.VIEWINGADD"></h3>
    </side-panel-header>
    <side-panel-content>
        <viewing-preview component-id="vm.componentIds.viewingPreviewId" viewing="vm.selectedViewing" ng-show="vm.viewingPreviewPanelVisible">
            <viewing-preview-custom-item>
                <activity-card activity="vm.selectedViewing.activity" />
            </viewing-preview-custom-item>
        </viewing-preview>
        <viewing-add component-id="vm.componentIds.viewingEditId" requirement="vm.requirement" attendees="vm.requirement.contacts"
                     ng-show="!vm.viewingPreviewPanelVisible" mode="edit">
        </viewing-add>
        <busy is-busy="vm.saveViewingBusy" label="{{'VIEWING.ADD.SAVING_VIEWING_IN_PROGRESS' | translate}}"></busy>
    </side-panel-content>
    <side-panel-footer>
        <button type="button" class="btn btn-default pull-left" ng-click="vm.showViewingEdit()" ng-show="vm.viewingPreviewPanelVisible"><i class="fa fa-pencil"></i> <span translate="COMMON.EDIT"></span></button>
        <button class="btn btn-default" type="button" ng-click="vm.goBackToPreviewViewing()" ng-show="!vm.viewingPreviewPanelVisible">
            <i class="fa fa-angle-double-left"></i> <span translate="COMMON.BACK"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.saveEditedViewing()" ng-show="!vm.viewingPreviewPanelVisible">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.offerSidePanelId" id="add-offer-panel" is-busy="vm.addEditOfferBusy">
    <side-panel-header>
        <h3 translate="REQUIREMENT.VIEW.NEWOFFER"></h3>
    </side-panel-header>
    <side-panel-content>
        <offer-add component-id="vm.componentIds.offerAddId" requirement="vm.requirement" mode="add"></offer-add>
        <busy is-busy="vm.addEditOfferBusy" label="{{'OFFER.ADD.SAVING_OFFER_IN_PROGRESS' | translate}}"></busy>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelSaveOffer()">
            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.saveOffer()">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>
