<div class="section-details" ng-if="vm.config">
    <h3 class="page-header">Upward chain</h3>

    <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="vm.addChain()"><i class="fa fa-plus-circle"></i></button>
    </div>

    <offer-chains-list
        chains="vm.chains"
        property="vm.property"
        chain-type="vm.chainType"
        on-chain-edit="vm.editChain(chain)"
        on-chain-preview="vm.previewChain(chain)"
        on-chain-remove="vm.removeChain(chain)">
    </offer-chains-list>
    <offer-chain-panel
        is-visible="vm.isPanelVisible"
        is-preview-mode="vm.panelInPreviewMode"
        chain="vm.currentChain"
        is-last-chain="vm.isEndOfChainVisibleInPanel()">
    </offer-chain-panel>
</div>