<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="TENANCY.CREATE_TENANCY"></h2>
        <form ng-submit="tenancyEditForm.isFormValid() && vm.save()" name="tenancyEditForm" method="post" novalidate>
            <div class="row">
                <div class="col-sm-6 col-md-4">

                    <!-- Basic information -->
                    <section>
                        <h3 class="page-header" translate="TENANCY.COMMON.BASIC_INFORMATION"></h3>
                        <div>
                            <h5 translate="COMMON.ACTIVITY"></h5>
                            <card-list-item>
                                <card show-context-menu="true" display-new-control="true" card-template-url="'app/tenancy/templates/tenancyActivityCard.html'"
                                    item="vm.tenancy.activity">
                                    <card-context-menu>
                                        <context-menu-item type="details" item="vm.tenancy.activity" action="vm.navigateToActivity"></context-menu-item>
                                    </card-context-menu>
                                </card>
                            </card-list-item>
                        </div>
                        <!--<activity-card activity="tevm.tenancy.activity" />-->
                        <div>
                            <h5 translate="COMMON.REQUIREMENT"></h5>
                            <card-list-item>
                                <card show-context-menu="true" display-new-control="true" card-template-url="'app/tenancy/templates/tenancyRequirementCard.html'"
                                    item="vm.tenancy.requirement">
                                    <card-context-menu>
                                        <context-menu-item type="details" item="vm.tenancy.requirement" action="vm.navigateToRequirement"></context-menu-item>
                                    </card-context-menu>
                                </card>
                            </card-list-item>
                        </div>
                    </section>
                    <!-- // Basic information -->
                    <section>
                        <list id="tenancy-tenants-edit">
                            <list-header>
                                <h3 class="page-header" translate="TENANCY.COMMON.TENANTS"></h3>
                            </list-header>
                            <list-item id="list-item-{{tenant.id}}" ng-repeat="tenant in vm.tenancy.tenants">
                                {{tenant.getName()}}
                            </list-item>
                        </list>
                    </section>
                    <section>
                        <list id="tenancy-landlords-edit">
                            <list-header>
                                <h3 class="page-header" translate="TENANCY.COMMON.LANDLORDS"></h3>
                            </list-header>
                            <list-item id="list-item-{{landlord.id}}" ng-repeat="landlord in vm.tenancy.landlords">
                                {{landlord.getName()}}
                            </list-item>
                        </list>
                    </section>
                </div>
                <div class="col-sm-6 col-md-4">
                    <!-- Terms -->
                    <fieldset>
                        <h3 class="page-header" translate="TENANCY.COMMON.TERMS"></h3>
                        <date-range-edit-control date-from="vm.tenancy.startDate" date-to="vm.tenancy.endDate" config="vm.configMock.term" schema="vm.termDateSchema"></date-range-edit-control>
                        
                        <div class="row">
                            <div class="col-sm-8 col-md-6">
                                <price-edit-control config="vm.configMock.term" schema="vm.termAgreedRentSchema" ng-model="vm.tenancy.agreedRent"></price-edit-control>
                            </div>
                        </div>
                    </fieldset>
                    <!-- // Terms -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button class="btn btn-default" type="button" ng-click="vm.cancel()">
                            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>