<div ng-if="!vm.inEditMode" class="negotiators-call-date form-group">
    <span class="section-title" translate="NEGOTIATORS.COMMON.NEXTCALL"></span>:
    <time ng-class="{'negotiators-call-date-old' : vm.isBeforeToday()}">{{vm.date | date : 'dd-MM-yyyy'}}</time>
    <button type="button" class="btn btn-no-style" ng-click="vm.openEditMode()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
</div>
<div ng-if="vm.inEditMode"  class="negotiators-call-date form-inline form-group">
    <div class="row">
        <div class="col-md-12 col-lg-2">
            <label class="required" for="next-call"><span translate="NEGOTIATORS.COMMON.NEXTCALL"></span>:</label>
        </div>
        <div class="col-md-12 col-lg-10">
            <div class="input-group">
                <input id="next-call-1" type="text" class="form-control" placeholder="dd-mm-yyyy" uib-datepicker-popup="dd-MM-yyyy" 
                       is-open="vm.isDatePickerOpen" close-text="Close" ng-model="vm.date">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openDatePicker()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-no-style text-danger" ng-click="vm.cancel()"><i class="fa fa-ban" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-no-style text-success" ng-click="vm.save()"><i class="fa fa-check" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>