<card-list id="card-list-departments" ng-if="vm.config">
    <card-list-header>
        <h3 class="page-header" translate="DEPARTMENTS.COMMON.HEADER"></h3>
    </card-list-header>
    <card-list-no-items id="empty-departments" ng-show="!vm.departments || vm.departments.length === 0">
        <p class="help-block" translate="DEPARTMENTS.COMMON.EMPTY"></p>
    </card-list-no-items>
    <card-list-item ng-repeat="activityDepartment in vm.departments | orderBy: 'department.name' | enumSorter: 'ActivityDepartmentType':'departmentTypeId'">
        <card id="card-department-{{::activityDepartment.userId}}" item="activityDepartment"
              card-template-url="'app/activity/templates/departmentCard.html'" show-context-menu="!activityDepartment.isManaging()" display-new-control="true">
            <card-context-menu>
                <context-menu-item ng-class="{'disabled': vm.isDeleteDisabled(activityDepartment.department)}"
                                   type="remove"
                                   item="activityDepartment"
                                   action="vm.deleteDepartment">
                </context-menu-item>
                <context-menu-item type="setAsManaging"
                                   item="activityDepartment"
                                   action="vm.setAsManagingDepartment">
                </context-menu-item>
            </card-context-menu>
        </card>
    </card-list-item>
</card-list>