<ng-form name='marketAppraisalPriceControlForm' ng-if="vm.config">
    <div class="form-group" show-errors>
        <div class="row">
            <div class="col-md-7">
                <label for="market-appraisal-price" translate="ACTIVITY.EDIT.PRICES.MARKET_APPRAISAL_PRICE"></label>
                <div class="input-group">
                    <input ng-model="vm.ngModel"
                     id="market-appraisal-price"
                      name="marketAppraisalPrice" class="form-control" type="number" min="0"/>
                    <div class="input-group-addon">GBP</div>
                </div>
                <div ng-messages="marketAppraisalPriceControlForm.marketAppraisalPrice.$error" ng-show="marketAppraisalPriceControlForm.$submitted || marketAppraisalPriceControlForm.marketAppraisalPrice.$dirty">
                    <div ng-messages-include="app/common/views/errorMessages.html"></div>
                </div>
            </div>
        </div>
    </div>
</ng-form>