<div ng-repeat="row in vm.addressForm.addressFieldRows | orderBy: 'rowOrder'" class="row section-row addr-row">
    <div ng-repeat=" field in row | orderBy: 'columnOrder'" class="addr-column">
        <div class="col-xs-6 addr-label" ng-show="vm.address[field.name.charAt(0).toLowerCase() + field.name.slice(1)]">
            <span translate={{field.labelKey}}></span>
        </div>
        <div class="col-xs-6 addr-value" ng-show="vm.address[field.name.charAt(0).toLowerCase() + field.name.slice(1)]">
            <span>{{vm.address[field.name.charAt(0).toLowerCase() + field.name.slice(1)]}}</span>
        </div>
    </div>
</div>