<h3 class="page-header" translate="NEGOTIATORS.{{nvvm.labelTranslationKey}}.HEADER"></h3>
<h4 translate="NEGOTIATORS.{{nvvm.labelTranslationKey}}.LEAD"></h4>
<card id="card-lead-negotiator" card-template-url="'app/activity/templates/negotiatorCard.html'" item="nvvm.leadNegotiator">
</card>
<card-list id="card-list-negotiators">
    <card-list-header>
        <h4 class="page-header" translate="NEGOTIATORS.{{nvvm.labelTranslationKey}}.SECONDARY"></h4>
    </card-list-header>
    <card-list-no-items id="empty-secondary-negotiators" ng-show="!nvvm.secondaryNegotiators || nvvm.secondaryNegotiators.length === 0">
        <p class="help-block" translate="NEGOTIATORS.{{nvvm.labelTranslationKey}}.EMPTY"></p>
    </card-list-no-items>
    <card-list-item ng-repeat="negotiator in nvvm.secondaryNegotiators | orderBy: ['user.firstName', 'user.lastName']">
        <card item="negotiator" id="card-secondary-negotiator" card-template-url="'app/activity/templates/negotiatorCard.html'">
        </card>
    </card-list-item>
</card-list>