<h3 class="page-header" translate="NEGOTIATORS.{{nvvm.labelTranslationKey}}.HEADER"></h3>
<h4 translate="NEGOTIATORS.{{nvvm.labelTranslationKey}}.LEAD"></h4>
<card id="card-lead-negotiator" card-template-url="'app/activity/templates/negotiatorCard.html'" item="nvvm.leadNegotiator">
</card>

<!--<div class="negotiators-call-date form-inline form-group">
    <span translate="NEGOTIATORS.COMMON.NEXTCALL"></span>:
    <span>12-05-2016</span>
    <button type="button" class="btn btn-no-style"><i class="fa fa-pencil" aria-hidden="true"></i></button>
</div>

<div class="negotiators-call-date form-inline form-group">
    <label for="next-call"><span translate="NEGOTIATORS.COMMON.NEXTCALL"></span>:</label>
    <div class="input-group">
        <input id="next-call" type="text" class="form-control">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
        </span>
    </div>
    <button type="button" class="btn btn-no-style text-danger"><i class="fa fa-ban" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-no-style text-success"><i class="fa fa-check" aria-hidden="true"></i></button>
</div>

<div class="negotiators-call-date form-inline form-group has-error">
    <label for="next-call" class="required"><span translate="NEGOTIATORS.COMMON.NEXTCALL"></span>:</label>
    <div class="input-group">
        <input id="next-call" type="text" class="form-control">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
        </span>
    </div>
    <button type="button" class="btn btn-no-style text-danger"><i class="fa fa-ban" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-no-style text-success"><i class="fa fa-check" aria-hidden="true"></i></button>

    <p class="help-block">Field is required</p>
</div>
    -->
<card-list id="card-list-negotiators">
    <card-list-header>
        <h4 translate="NEGOTIATORS.{{nvvm.labelTranslationKey}}.SECONDARY"></h4>
    </card-list-header>
    <card-list-no-items id="empty-secondary-negotiators" ng-show="!nvvm.secondaryNegotiators || nvvm.secondaryNegotiators.length === 0">
        <p class="help-block" translate="NEGOTIATORS.{{nvvm.labelTranslationKey}}.EMPTY"></p>
    </card-list-no-items>
    <card-list-item ng-repeat="negotiator in nvvm.secondaryNegotiators | orderBy: ['user.firstName', 'user.lastName']">
        <card item="negotiator" id="card-secondary-negotiator" card-template-url="'app/activity/templates/negotiatorCard.html'">
        </card>
    </card-list-item>
</card-list>