<ng-form name="vm.{{vm.schema.formName}}" ng-if="vm.config">
    <fieldset>
        <label for={{vm.schema.minControlId}}>{{vm.schema.translationKey | translate}}</label>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': (vm[vm.schema.formName].$submitted || vm[vm.schema.formName].min.$dirty) && vm[vm.schema.formName].min.$invalid}">
                    <div class="input-group">
                        <input type="number" min="1" max="{{vm.max}}" class="form-control" name="min" id="{{vm.schema.minControlId}}" ng-model="vm.min" placeholder="min">
                        <div class="input-group-addon">{{vm.schema.unit}}</div>
                    </div>
                    <div ng-messages="vm[vm.schema.formName].min.$error" ng-show="vm[vm.schema.formName].$submitted || vm[vm.schema.formName].min.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': (vm[vm.schema.formName].$submitted || vm[vm.schema.formName].max.$dirty) && vm[vm.schema.formName].max.$invalid}">
                    <div class="input-group">
                        <input type="number" min="1" class="form-control" name="max" ng-model="vm.max" placeholder="max" id="{{vm.schema.maxControlId}}">
                        <div class="input-group-addon">{{vm.schema.unit}}</div>
                    </div>
                    <div ng-messages="vm[vm.schema.formName].max.$error" ng-show="vm[vm.schema.formName].$submitted || vm[vm.schema.formName].max.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</ng-form>