<div class="row">
    <div class="col-md-12">

        <h2 class="page-header" translate="REQUIREMENT.ADD.ADD_REQUIREMENT"></h2>
        <form ng-submit="addRequirementForm.$valid && vm.save()" name="addRequirementForm" id="addRequirementForm" method="post"
              novalidate>
            <div class="row">
                <div class="col-md-4">
                    <fieldset>
                        <h3 class="page-header" translate="REQUIREMENT.ADD.BASIC_INFORMATION"></h3><div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <requirement-type-edit-control ng-model="vm.requirement.requirementTypeId" config="vm.config.requirement_RequirementType" on-requirement-type-changed="vm.requirementTypeChanged(requirementTypeId)" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (addRequirementForm.$submitted || addRequirementForm.description.$dirty) && addRequirementForm.description.$invalid}">
                            <div class="row">
                                <div class="col-md-12">
                                    <requirement-description-edit-control ng-model="vm.requirement.description" config="vm.config.requirement_Description" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h3 class="page-header" translate="REQUIREMENT.ADD.RENT_REQUIREMENTS" ng-if="vm.config.requirement_RentRange"></h3>
                        <range-edit-control min="vm.requirement.rentMin" max="vm.requirement.rentMax" config="vm.config.requirement_RentRange" schema="vm.controlSchemas.rentRange" />
                    </fieldset>
                    <fieldset>
                        <h3 ng-if="vm.config.requirement_LocationRequirements" class="page-header">Location requirements</h3>
                        <address-form-edit entity-type-code="vm.entityTypeCode" address="vm.requirement.address" user-country-code="vm.userData.country" config="vm.config.requirement_LocationRequirements"
                                           template-url="'app/common/components/addressForm/addressFormEdit/templates/requirementAddressForm.html'"></address-form-edit>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <section>
                        <h3 class="page-header" translate="REQUIREMENT.ADD.APPLICANT"></h3>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="vm.showContactList()">
                                <i class="fa fa-plus-circle"></i>
                            </button>
                            <list-not-empty ng-model="vm.requirement.contacts" name="numberOfApplicants" />
                        </div>
                        <div ng-class="{'has-error': addRequirementForm.$submitted || addRequirementForm.numberOfApplicants.$dirty}" ng-messages="addRequirementForm.numberOfApplicants.$error" ng-show="addRequirementForm.$submitted || addRequirementForm.numberOfApplicants.$dirty">
                            <div ng-messages-include="app/common/views/errorMessages.html"></div>
                        </div>
                        <div class="panel panel-default" ng-repeat="c in vm.requirement.contacts">
                            <div class="panel-body">
                                {{:: c.getName() }}
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="saveBtn" ng-disabled="vm.isSaving">
                            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<side-panel component-id="vm.componentIds.contactSidePanelId">
    <side-panel-header>
        <h3 translate="REQUIREMENT.ADD.FINDCONTACT"></h3>
    </side-panel-header>
    <side-panel-content>
        <contact-list component-id="vm.componentIds.contactListId">
        </contact-list>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelUpdateContacts()"><i class="fa fa-ban"></i> <span translate="COMMON.CANCEL">Cancel</span></button>
        <button class="btn btn-primary" type="button" ng-click="vm.updateContacts()" ng-disabled="vm.loadingContacts"><i class="fa fa-check" aria-hidden="true"></i> <span translate="COMMON.APPLY"></span></button>
    </side-panel-footer>
</side-panel>