<h2 class="page-header" translate="REQUIREMENT.ADD.ADD_REQUIREMENT"></h2>
<div class="row">
    <div class="col-md-6">
    </div>

    <div class="col-md-6">
        <form>
            <div class="form-group">
                <h3 translate="REQUIREMENT.ADD.CONTACT"></h3>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" translate="REQUIREMENT.ADD.ADD" ng-click="vm.showContactList()"></button>
            </div>
            <div class="panel panel-default" ng-repeat="c in vm.contacts">
                <div class="panel-body">
                   {{c.firstName }}
                </div>
            </div>
        </form>
    </div>
    <div>

        <side-panel component-id="contactsSidePanel" ng-show="vm.showSidePanel === true">
            <div>
                <contact-list component-id='testId'>
                </contact-list>
                
                <button ng-click="vm.updateContacts()">Save</button>
                <button ng-click="vm.cancelUpdateContacts()">Cancel</button>
            </div>
        </side-panel>
    </div>
</div>