<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="FirefoxPreferences" type="System.Configuration.NameValueSectionHandler" />
    <section name="FirefoxExtensions" type="System.Configuration.NameValueSectionHandler" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="UI.Settings.SqlConnectionString" providerName="System.Data.SqlClient" connectionString="Server=10.70.4.7;Database=KnightFrank.Antares.Dev;User ID=sa;Password=$Kf@admin" />
  </connectionStrings>
  <appSettings>
    <!--mandatory keys-->
    <add key="protocol" value="http" />
    <add key="host" value="dev.app.antares.knightfrank.com/" />
    <add key="api" value="dev.api.antares.knightfrank.com/" />
    <add key="url" value="" />
    <add key="CreateContactPage" value="#/app/contact/add" />
    <add key="CreateRequirementPage" value="#/app/requirement/add" />
    <add key="CreatePropertyPage" value="#/app/property/add" />
    <add key="CreateCompanyPage" value="#/app/company/add" />
    <add key="ViewRequirementPage" value="#/app/requirement/id" />
    <add key="ViewPropertyPage" value="#/app/property/id" />
    <add key="ViewActivityPage" value="#/app/activity/view/id" />
    <add key="ViewOfferPage" value="#/app/offer/id" />
    <add key="EditPropertyPage" value="#/app/property/edit/id" />
    <add key="EditOfferPage" value="#/app/offer/edit/id" />
    <add key="EditActivityPage" value="#/app/activity/edit/id" />
    <add key="SearchPropertyPage" value="#/app/property/search" />
    <!--<add key="browser" value="InternetExplorer" />-->
    <!--<add key="browser" value="Chrome" />-->
    <add key="browser" value="Firefox" />
    <!--<add key="browser" value="Chrome" />-->
    <!--<add key="proxy" value="127.0.0.1:9999" />-->
    <!--timeouts-->
    <add key="longTimeout" value="20" />
    <add key="mediumTimeout" value="15" />
    <add key="shortTimeout" value="0" />
    <add key="ImplicitlyWaitMilliseconds" value="200" />
    <!--User credentials-->
    <add key="username" value="null" />
    <add key="password" value="null" />
    <!--Downloaded files, screenshots and page source location-->
    <add key="UseCurrentDirectory" value="true" />
    <add key="DownloadFolder" value="\TestOutput" />
    <add key="ScreenShotFolder" value="\TestOutput" />
    <add key="PageSourceFolder" value="\TestOutput" />
    <!--Screenshots and logging-->
    <add key="FullDesktopScreenShotEnabled" value="true" />
    <add key="SeleniumScreenShotEnabled" value="true" />
    <add key="GetPageSourceEnabled" value="true" />
    <!--Xunit-->
    <add key="xunit.parallelizeTestCollections" value="false"/>
  </appSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Objectivity.Test.Automation.Common" />
    </stepAssemblies>
    <unitTestProvider name="xunit" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}\Test.log" layout="${longdate}|${level}|${callsite}|${message}" />
      <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${callsite}|${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
  <FirefoxPreferences>
    <!--add key="PreferenceToBeOverride" value="NewValue" /-->
  </FirefoxPreferences>
  <FirefoxExtensions>
    <!-->add key="FirefoxPluginName.xpi" value=""/-->
  </FirefoxExtensions>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>