// Address view

.address-view-inline,
.address-view {
  .address-view-item {
    display: inline-block;
  }

  &:first-child {
    .address-view-item {
      &:nth-child(2) {
        margin-left: 5px;
      }
    }
  }
}

.address-view-inline {
  float: left;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  .space {
    display: inline-block;
  }
}
