// Drawer

.drawer {
  background: $color-crimson;
  font-family: $font-lato;
  height: calc(100% - #{$header-height});
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: $header-height;
  transform: translateZ(0) translateX(-100%);
  width: 100%;
  z-index: 1040;

  @media (min-width: $screen-sm-min) {
    width: $drawer-width;
  }

  // Accordion

  .panel-group {
    .panel + .panel {
      margin-top: 0;
    }
  }

  .panel-open {
    .panel-heading {
      background-color: $color-concrete;
    }

    .accordion-toggle {
      color: $color-gray;
    }

    .accordion-arrow {
      color: $color-nobel;
      transform: rotateX(180deg);
    }

    .panel-collapse {
      background-color: $color-concrete;
    }
  }

  .panel-heading {
    background-color: $color-crimson;
    padding: 0;

    + .panel-collapse {
      > .panel-body,
      > .list-group {
        border: 0;
      }
    }
  }

  .panel-title {
    font: {
      size: 14px;
      weight: 700;
    };
    text-transform: uppercase;
  }

  .panel-collapse > .panel-body {
    background-color: $color-concrete;
    margin: 0 22px;
    padding: 0;
  }

  .panel {
    border: 0;
    border-bottom: 1px solid $color-amaranth;
    box-shadow: none;
  }

  .accordion-toggle {
    color: $color-white;
    display: block;
    letter-spacing: 4px;
    line-height: 1;
    outline: none;
    padding: 16px 16px 16px 22px;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    .accordion-arrow {
      font-size: 12px;
      line-height: 14px;
      transition: all 0.1s ease;
    }
  }
}

.content {
  left: 0;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.drawer-open {
  .drawer {
    transform: translateZ(0) translateX(0);
  }

  .content {
    @media (min-width: $screen-sm-min) {
      left: $drawer-width;
      width: calc(100% - #{$drawer-width});
    }
  }
}

.accordion-title {
  border-top: 1px solid $color-mercury;
  font: {
    size: 13px;
    weight: 900;
  };
  letter-spacing: 4px;
  margin: {
    bottom: 10px;
    top: 2px;
  }
  padding-top: 18px;
  text-transform: uppercase;
}

// Drawer menu

.drawer-menu,
.recent {
  list-style: none;
  padding-left: 0;
}

.drawer-menu {
  margin-bottom: 15px;

  &-item {
    overflow: hidden;
    position: relative;
  }

  &-link {
    color: $color-crimson;
    display: block;
    font: {
      size: 13px;
      weight: 700;
    }
    padding: 3px 0;
    transition: all 0.1s ease;

    &::before {
      border: {
        color: transparent transparent transparent $color-crimson;
        style: solid;
        width: 3px 0 3px 5px;
      }
      content: '';
      height: 0;
      left: -17px;
      position: absolute;
      top: 9px;
      transition: all 0.2s ease;
      width: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color-crimson;
      padding-left: 11px;
      text-decoration: none;

      &::before {
        left: 0;
      }
    }
  }
}

// Recent items

.recent {
  margin-bottom: 20px;

  &-item {
    color: $color-crimson;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      color: inherit;
    }
  }
}

