// Forms Styles

label,
.help-block {
  font-size: 12px;
}

.required {
  &::after {
    color: $color-red;
    content: '*';
    margin-left: 3px;
  }
}

.attribute-min {
  &::after {
    content: '-';
    position: absolute;
    right: -3px;
    top: 7px;
  }
}

.attribute-unit {
  font-size: 13px;
  line-height: 1;
  padding: 11px 12px;
}

// File input

.btn-file {
  overflow: hidden;
  position: relative;

  input[type=file] {
    background: transparent;
    cursor: inherit;
    display: block;
    filter: alpha(opacity = 0);
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// Textarea character limit

.character-limit {
  font-size: 12px;
  margin-top: 2px;
}
