// Notifications

.growl-container {
  &.growl-fixed {
    &.top-center {
      top: $header-height + 12px;
    }
  }

  .growl-item {
    padding: 18px 35px 18px 10px;
  }

  > .alert-success,
  > .alert-danger {
    &.icon {
      background-image: none;
    }

    &.icon::before {
      font-family: FontAwesome;
      font-size: 24px;
      position: absolute;
      top: 10px;
    }
  }

  > .alert-success {
    &.icon::before {
      content: '\f05d';
    }
  }

  > .alert-danger {
    &.icon::before {
      content: '\f05c';
    }
  }
}

.growl-item {
  &.icon {
    > .growl-title {
      margin: 0 0 9px 40px;
    }
  }

  .growl-title {
    font-weight: bold;
  }
}
