// Offers

.chain-list {
  display: block;
  position: relative;

  &::before {
    border-left: 2px solid $color-dusty-gray;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
  }
}

// Offers cards

.offer-status {
  @extend %status;

  &-new {
    border-color: $color-dove-gray;
    color: $color-dove-gray;
  }

  &-accepted {
    border-color: $color-limeade;
    color: $color-limeade;
  }

  &-rejected {
    border-color: $color-crimson;
    color: $color-crimson;
  }

  &-withdrawn {
    border-color: $color-silver;
    color: $color-dove-gray;
  }
}
