// Panel Styles

.panel-item {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  //|TODO: for Wojtek: prepare better solution for addresss panel
  &.property-address span {
    margin-right: 5px;
  }
}