// Panel Styles

.panel-body {
  word-wrap: break-word;

  .checkbox,
  .radio {
    margin: {
      bottom: 0;
      top: 0;
    }
  }
}

.panel-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
