// Old cards

.panel-body {
  word-wrap: break-word;

  .checkbox,
  .radio {
    margin: {
      bottom: 0;
      top: 0;
    }
  }
}

.panel-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Card component

.card {
  background-color: $color-white;
  border: 1px solid $color-denim;
  margin-bottom: 15px;

  &:hover {
    border: 1px solid $color-black;
  }
}

.card-body {
  padding: 15px;

  .card-item {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-info {
    color: $color-dusty-gray;
    font-size: 12px;
  }
}
