// Section Styles

.section-row {
  padding: 5px 0;
  word-wrap: break-word;
}

.section-title {
  font-weight: bold;
}

.section-details {
  margin-bottom: 30px;
  word-wrap: break-word;
}

.area-details {
  border-bottom: 1px solid $color-mercury;
  margin-bottom: 15px;
}
