// Section Styles

.section-row {
  padding: 5px 0;
  word-wrap: break-word;
}

.section-details {
  margin-bottom: 30px;
  word-wrap: break-word;

  p {
    margin-bottom: 20px;
  }
}

.area-details {
  border-bottom: 1px solid $color-mercury;
  margin-bottom: 15px;
}
