// Well Styles

.well {
  > span {
    display: block;
  }

  div:first-of-type:not(.address-view-item) {
    font-size: 24px;
    margin-bottom: 10px;
    word-wrap: break-word;
  }

  .well-action-bar {
    border-top: 1px solid $color-gallery;
    margin-top: 20px;
    padding-top: 20px;
  }
}
