<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="PROPERTY.VIEW.VIEW_PROPERTY"></h2>
        <div class="well">
            <button type="button" class="btn btn-default pull-right" ng-click="vm.goToEdit()"><i class="fa fa-pencil"></i> <span translate="COMMON.EDIT"></span></button>
            <address-form-view address="vm.property.address"></address-form-view>
        </div>
        <div class="row">
            <div class="col-md-4">
                <section>
                    <property-details property="vm.property" user-data="vm.userData"></property-details>
                </section>
            </div>
            <div class="col-md-4">
                <!--<section>
                    <h3 class="page-header">Characteristics</h3>

                    <h5>Style</h5>
                    <ul>
                        <li>House</li>
                        <li>Flat</li>
                    </ul>

                    <h5>Age</h5>
                    <ul>
                        <li>Modern</li>
                    </ul>

                    <h5>Location</h5>
                    <ul>
                        <li>Rural</li>
                        <li>Island</li>
                    </ul>

                    <h5>Special</h5>
                    <ul>
                        <li>Golf course</li>
                        <li>Swimming pool</li>
                        <li>Tennis court</li>
                        <li>Stabling</li>
                        <li>Fishing</li>
                    </ul>
                </section>-->
            </div>
            <div class="col-md-4">
                <section>
                    <card-list id="ownership-list" show-item-add="vm.showContactList">
                        <card-list-header>
                            <h3 class="page-header" translate="PROPERTY.LIST.OWNERSHIPS"></h3>
                        </card-list-header>
                        <card-list-no-items ng-show="vm.property.ownerships.length === 0">
                            <p class="help-block" translate="PROPERTY.LIST.NO_ITEMS"></p>
                        </card-list-no-items>
                        <card-list-item ng-repeat="ownership in vm.property.ownerships | orderBy: vm.ownershipsCartListOrder.name : vm.ownershipsCartListOrder.descending : vm.ownershipsCartListOrder.nullOnEnd track by ownership.id">
                            <card card-template-url="'app/property/view/propertyOwnershipCard.html'" item="ownership" show-item-details="vm.showOwnershipView">
                            </card>
                        </card-list-item>
                    </card-list>
                </section>
                <section>
                    <card-list id="card-list-activities" show-item-add="vm.showActivityAdd">
                        <card-list-header>
                            <h3 class="page-header" translate="ACTIVITY.LIST.ACTIVITIES"></h3>
                        </card-list-header>
                        <card-list-no-items ng-show="vm.property.activities.length === 0">
                            <p class="help-block" translate="ACTIVITY.LIST.NO_ITEMS"></p>
                        </card-list-no-items>

                        <card-list-item ng-repeat="activity in vm.property.activities | orderBy: vm.activitiesCartListOrder.name : vm.activitiesCartListOrder.descending track by activity.id ">
                            <card id="activity-card-{{activity.id}}" card-template-url="'app/activity/templates/activityCard.html'" item="activity" show-item-details="vm.showActivityPreview">
                            </card>
                        </card-list-item>
                    </card-list>
                </section>
                <!--<section>
                    <h3 class="page-header" translate="ATTACHMENT.LIST.ATTACHMENTS"></h3>
                    <div class="form-group">
                        <button type="button" class="btn btn-default"><i class="fa fa-plus-circle"></i></button>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-item">Lorem ipsum file.docx</div>
                            <div><small><time>12-05-2015</time>, Brouchure, 2MB</small></div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <a href="#">details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>-->
            </div>
        </div>
    </div>
</div>

<side-panel>
    <side-panel-header>
        <h3 translate="ATTACHMENT.ATTACHMENTPREVIEW"></h3>
    </side-panel-header>
    <side-panel-content>
        <div class="row section-row">
            <div class="col-xs-5">Name</div>
            <div class="col-xs-7 text-truncate">
                <i class="fa fa-download pull-right" aria-hidden="true"></i>
                <a href="#">Lorem ipsum file.docx</a>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5">Type</div>
            <div class="col-xs-7">Floor plan</div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5">Size</div>
            <div class="col-xs-7">2MB</div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5">Added</div>
            <div class="col-xs-7"><time>19-03-2016</time></div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5">By</div>
            <div class="col-xs-7">John Smith</div>
        </div>
    </side-panel-content>
</side-panel>

<side-panel>
    <side-panel-header>
        <h3 translate="ATTACHMENT.ATTACHFILE"></h3>
    </side-panel-header>
    <side-panel-content>
        <form>
            <div class="form-group has-error">
                <div class="row">
                    <div class="col-md-12">
                        <label for="file">File:</label>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="close close-side-panel" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="text-truncate">Lorem ipsum file.docx</div>
                    </div>
                    <div ng-hide="true" class="col-md-12">
                        <span class="btn btn-default btn-file">
                            Browse <input id="file" type="file">
                        </span>
                        <p class="help-block">Please select file to upload</p>
                    </div>
                </div>
            </div>
            <div class="form-group required">
                <div class="row">
                    <div class="col-md-9">
                        <label for="type-file">Type</label>
                        <select id="type-file" class="form-control">
                            <option>- select -</option>
                            <option>File type</option>
                            <option>File type</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="spinner"></div>
        <div class="spinner-label">uploading</div>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelUpdateContacts()" ng-show="!vm.ownershipAddPanelVisible">
             <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.contactSidePanelId">
    <side-panel-header>
        <h3 translate="REQUIREMENT.ADD.FINDCONTACT" ng-show="!vm.ownershipAddPanelVisible"></h3>

        <h3 translate="OWNERSHIP.ADD.OWNERSHIPDETAILS" ng-show="vm.ownershipAddPanelVisible"></h3>
    </side-panel-header>
    <side-panel-content>
        <contact-list component-id="vm.componentIds.contactListId" ng-show="!vm.ownershipAddPanelVisible">
        </contact-list>

        <ownership-add component-id="vm.componentIds.ownershipAddId" ownerships="vm.property.ownerships"  ng-show="vm.ownershipAddPanelVisible">
        </ownership-add>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelUpdateContacts()" ng-show="!vm.ownershipAddPanelVisible">
             <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.showOwnershipAdd()" ng-show="!vm.ownershipAddPanelVisible" id="ownership-add-button">
            <span translate="COMMON.CONFIGURE"></span> <i class="fa fa-angle-double-right"></i>
        </button>

        <button class="btn btn-default" type="button" ng-click="vm.cancelAddOwnership()" ng-show="vm.ownershipAddPanelVisible">
            <i class="fa fa-angle-double-left"></i> <span translate="COMMON.BACK"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.saveOwnership()" ng-disabled="vm.loadingContacts" ng-show="vm.ownershipAddPanelVisible">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.activityAddSidePanelId">
    <side-panel-header>
        <h3 translate="ACTIVITY.ADD.CREATE_ACTIVITY"></h3>
    </side-panel-header>
    <side-panel-content>
        <activity-add component-id="vm.componentIds.activityAddId" activities="vm.property.activities" property-type-id="vm.property.propertyTypeId"></activity-add>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelAddActivity()">
            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.saveActivity()" ng-disabled="" id="activity-add-button">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.ownershipViewSidePanelId" id="ownership-panel">
    <side-panel-header>
        <h3 translate="OWNERSHIP.VIEW.OWNERSHIPDETAILS"></h3>
    </side-panel-header>
    <side-panel-content>
        <ownership-view component-id="vm.componentIds.ownershipViewId">
        </ownership-view>
    </side-panel-content>
</side-panel>

<side-panel component-id="vm.componentIds.activityPreviewSidePanelId">
    <side-panel-header>
        <h3 translate="ACTIVITY.PREVIEW.ACTIVITYPREVIEW"></h3>
    </side-panel-header>
    <side-panel-content>
        <activity-preview component-id="vm.componentIds.activityPreviewId">
        </activity-preview>
    </side-panel-content>
</side-panel>