<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="PROPERTY.VIEW.VIEW_PROPERTY"></h2>
        <div class="well">
            <button type="button" class="btn btn-default pull-right" ng-click="vm.goToEdit()"><i class="fa fa-pencil"></i> Edit</button>
            <address-form-view address="vm.property.address"></address-form-view>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <fieldset>
                        <legend>Ownership</legend>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="vm.showContactList()"><i class="fa fa-plus-circle"></i></button>
                        </div>
                        <p ng-hide="vm.property.ownerships.length" class="help-block">Ownership information not configured yet</p>
                    </fieldset>
                    <div class="panel panel-default" 
                         ng-repeat="ownership in vm.property.ownerships | orderBy:'purchaseDate' : vm.orderDescending : vm.nullOnEnd">
                        <div class="panel-body">
                            <div class="panel-item">
                                <span ng-repeat="contact in ownership.contacts">
                                    {{contact.firstName}} {{contact.surname}}{{$last ? '' : ', '}}
                                </span>
                            </div>
                            <small>
                                <span class="text-uppercase">{{ownership.ownershipType.code}}</span> 
                                {{ownership.purchaseDate | date : 'dd-MM-yyyy'}} - {{ownership.sellDate | date : 'dd-MM-yyyy'}}
                             </small>
                            <div class="row">
                                <div class="col-md-12 text-right"><a href="" ng-click="vm.showOwnershipView(ownership)">details</a></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-4">
                <form>
                    <fieldset>
                        <legend>Activities</legend>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="vm.showActivityAdd()"><i class="fa fa-plus-circle"></i></button>
                        </div>
                        <p class="help-block">No activities yet</p>
                    </fieldset>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-item">09-03-2016 John Smith, Jack Daniels, George Washington</div>
                            <small>Pre-appraisal</small>
                            <div class="row">
                                <div class="col-md-12 text-right"><a href="#">details</a></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>-->
    </div>
</div>

<side-panel component-id="vm.componentIds.contactSidePanelId">
    <side-panel-header>
        <h3 translate="REQUIREMENT.ADD.FINDCONTACT" ng-show="!vm.ownershipAddPanelVisible"></h3>

        <h3 translate="OWNERSHIP.ADD.OWNERSHIPDETAILS" ng-show="vm.ownershipAddPanelVisible"></h3>
    </side-panel-header>
    <side-panel-content>
        <contact-list component-id="vm.componentIds.contactListId" ng-show="!vm.ownershipAddPanelVisible">
        </contact-list>

        <ownership-add component-id="vm.componentIds.ownershipAddId" ng-show="vm.ownershipAddPanelVisible">
        </ownership-add>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelUpdateContacts()" ng-show="!vm.ownershipAddPanelVisible"> <i class="fa fa-ban"></i> Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="vm.showOwnershipAdd()" ng-show="!vm.ownershipAddPanelVisible">Configure <i class="fa fa-angle-double-right"></i></button>

        <button class="btn btn-default" type="button" ng-click="vm.cancelAddOwnership()" ng-show="vm.ownershipAddPanelVisible"><i class="fa fa-angle-double-left"></i> Back</button>
        <button class="btn btn-primary" type="button" ng-click="vm.saveOwnership()" ng-disabled="vm.loadingContacts" ng-show="vm.ownershipAddPanelVisible"><i class="fa fa-floppy-o"></i> Save</button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.activitySidePanelId">
    <side-panel-header>
        <h3>Create activity</h3>
    </side-panel-header>
    <side-panel-content>
        <activity-add component-id="vm.componentIds.activityAddId"></activity-add> 
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelUpdateContacts()"> <i class="fa fa-ban"></i> Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="vm.saveActivity()" ng-disabled=""><i class="fa fa-floppy-o"></i> Save</button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.ownershipViewSidePanelId">
    <side-panel-header>
        <h3 translate="OWNERSHIP.VIEW.OWNERSHIPDETAILS"></h3>
    </side-panel-header>
    <side-panel-content>
        <ownership-view component-id="vm.componentIds.ownershipViewId">
        </ownership-view>
    </side-panel-content>
</side-panel>