<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="PROPERTY.VIEW.VIEW_PROPERTY"></h2>
        <div class="well">
            <button type="button" class="btn btn-default pull-right" ng-click="vm.goToEdit()"><i class="fa fa-pencil"></i> Edit</button>
            <address-form-view address="vm.property.address"></address-form-view>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <fieldset>
                        <card-list id="ownership-list" show-item-add="vm.showContactList">
                            <card-list-header>
                                <legend translate="PROPERTY.LIST.OWNERSHIPS"></legend>
                            </card-list-header>
                            <card-list-no-items ng-show="vm.property.ownerships.length === 0">
                                <p class="help-block" translate="PROPERTY.LIST.NO_ITEMS"></p>
                            </card-list-no-items>
                            <card-list-item ng-repeat="ownership in vm.property.ownerships | orderBy: vm.ownershipsCartListOrder.name : vm.ownershipsCartListOrder.descending : vm.ownershipsCartListOrder.nullOnEnd track by ownership.id">
                                <card card-template-url="'app/property/view/propertyOwnershipCard.html'" item="ownership" show-item-details="vm.showOwnershipView">
                                </card>
                            </card-list-item>
                        </card-list>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <form>
                    <fieldset>
                        <card-list id="card-list-activities" show-item-add="vm.showActivityAdd">
                            <card-list-header>
                                <legend translate="ACTIVITY.LIST.ACTIVITIES"></legend>
                            </card-list-header>
                            <card-list-no-items ng-show="vm.property.activities.length === 0">
                                <p class="help-block" translate="ACTIVITY.LIST.NO_ITEMS"></p>
                            </card-list-no-items>

                            <card-list-item ng-repeat="activity in vm.property.activities | orderBy: vm.activitiesCartListOrder.name : vm.activitiesCartListOrder.descending track by activity.id ">
                                <card id="activity-card-{{activity.id}}" card-template-url="'app/activity/templates/activityCard.html'" item="activity" show-item-details="vm.showActivityPreview">
                                </card>
                            </card-list-item>
                        </card-list>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<side-panel component-id="vm.componentIds.contactSidePanelId">
    <side-panel-header>
        <h3 translate="REQUIREMENT.ADD.FINDCONTACT" ng-show="!vm.ownershipAddPanelVisible"></h3>

        <h3 translate="OWNERSHIP.ADD.OWNERSHIPDETAILS" ng-show="vm.ownershipAddPanelVisible"></h3>
    </side-panel-header>
    <side-panel-content>
        <contact-list component-id="vm.componentIds.contactListId" ng-show="!vm.ownershipAddPanelVisible">
        </contact-list>

        <ownership-add component-id="vm.componentIds.ownershipAddId" ownerships="vm.property.ownerships"  ng-show="vm.ownershipAddPanelVisible">
        </ownership-add>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelUpdateContacts()" ng-show="!vm.ownershipAddPanelVisible">
             <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.showOwnershipAdd()" ng-show="!vm.ownershipAddPanelVisible" id="ownership-add-button">
            <span translate="COMMON.CONFIGURE"></span> <i class="fa fa-angle-double-right"></i>
        </button>

        <button class="btn btn-default" type="button" ng-click="vm.cancelAddOwnership()" ng-show="vm.ownershipAddPanelVisible">
            <i class="fa fa-angle-double-left"></i> <span translate="COMMON.BACK"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.saveOwnership()" ng-disabled="vm.loadingContacts" ng-show="vm.ownershipAddPanelVisible">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.activityAddSidePanelId">
    <side-panel-header>
        <h3 translate="ACTIVITY.ADD.CREATE_ACTIVITY"></h3>
    </side-panel-header>
    <side-panel-content>
        <activity-add component-id="vm.componentIds.activityAddId" activities="vm.property.activities"></activity-add>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelAddActivity()">
            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.saveActivity()" ng-disabled="" id="activity-add-button">
            <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
        </button>
    </side-panel-footer>
</side-panel>

<side-panel component-id="vm.componentIds.ownershipViewSidePanelId" id="ownership-panel">
    <side-panel-header>
        <h3 translate="OWNERSHIP.VIEW.OWNERSHIPDETAILS"></h3>
    </side-panel-header>
    <side-panel-content>
        <ownership-view component-id="vm.componentIds.ownershipViewId">
        </ownership-view>
    </side-panel-content>
</side-panel>

<side-panel component-id="vm.componentIds.activityPreviewSidePanelId">
    <side-panel-header>
        <h3 translate="ACTIVITY.PREVIEW.ACTIVITYPREVIEW"></h3>
    </side-panel-header>
    <side-panel-content>
        <activity-preview component-id="vm.componentIds.activityPreviewId">
        </activity-preview>
    </side-panel-content>
</side-panel>