<form name="vm.offerChainAddEditCardForm" ng-submit="vm.offerChainAddEditCardForm.isFormValid() && vm.save()" novalidate>
    <kf-side-panel-card>
        <side-panel-header>
            <h3 translate="OFFER.CHAIN.EDIT.CHAIN_TRANSACTION"></h3>
        </side-panel-header>
        <side-panel-content>
            <div class="section-details">
                <checkbox-edit-control ng-model="vm.chain.isEnd" config="vm.config.isEnd" schema="vm.controlSchemas.isEnd"></checkbox-edit-control>
            </div>

            <div class="section-details">
                <!-- TODO: Implement property edit component -->
                <property-edit-control> </property-edit-control>
            </div>

            <div class="section-details">
                <text-edit-control ng-model="vm.chain.vendor" config="vm.config.vendor" schema="vm.controlSchemas.vendor"></text-edit-control>
            </div>

            <div class="section-details">
                <radio-buttons-edit-control id="agent" config="vm.configAgentType" ng-model="vm.isKnightFrankAgent"
                                            schema="vm.controlSchemas.agentType">
                </radio-buttons-edit-control>

                <search ng-show="vm.isThirdPartyAgentInEditMode && vm.isKnightFrankAgent" id="thirdPartyAgent-search"
                        options="vm.thirdPartyAgentSearchOptions"
                        focus-on="vm.isThirdPartyAgentInEditMode"
                        blur-on="!vm.isThirdPartyAgentInEditMode"
                        on-select-item="vm.changeAgentUser" on-cancel="vm.cancelChangeAgentUser" load-items="vm.getUsers"
                        item-template-url="app/attributes/activityNegotiators/userSearchTemplate.html" search-placeholder="OFFER.CHAIN.EDIT.FIND_AGENT"></search>
                <div id="agent-user-edit-btn-wrapper" ng-hide="vm.isThirdPartyAgentInEditMode || !vm.isKnightFrankAgent" class="form-group">
                    <button class="btn btn-default" id="agent-user-btn" type="button" ng-click="vm.editThirdPartyAgent()"><i class="fa fa-pencil"></i></button>
                </div>

                <div class="section-row row" ng-if="vm.isKnightFrankAgent">
                    <div class="col-xs-12">
                        <div class="panel panel-default applicant">
                            <div class="panel-body">
                                {{ vm.chain.agentUser.getName() }}
                            </div>
                        </div>
                    </div>
                </div>

                <company-contact-edit-control schema="vm.controlSchemas.agentCompanyContact" ng-if="!vm.isKnightFrankAgent"
                                              config="vm.config.agentCompanyContact"
                                              type="vm.companyContactType.ChainAgent"
                                              company-contact="vm.chain.agentCompanyContact"
                                              is-panel-visible="vm.isThirdPartyAgentEditPanelVisible"
                                              on-edit="vm.editCompanyContact(companyContact, type)">
                </company-contact-edit-control>

                <company-contact-edit-control schema="vm.controlSchemas.solicitorCompanyContact"
                                              config="vm.config.solicitorCompanyContact"
                                              type="vm.companyContactType.ChainSolicitor"
                                              company-contact="vm.chain.solicitorCompanyContact"
                                              on-edit="vm.editCompanyContact(companyContact, type)">
                </company-contact-edit-control>
            </div>

            <div class="section-details">
                <h4 translate="OFFER.CHAIN.EDIT.PROGRESS">Progress</h4>
                <enum-item-edit-control ng-model="vm.chain.mortgageId" config="vm.config.mortgage" schema="vm.controlSchemas.mortgage" hide-empty-value="true"></enum-item-edit-control>
                <enum-item-edit-control ng-model="vm.chain.surveyId" config="vm.config.survey" schema="vm.controlSchemas.survey" hide-empty-value="true"></enum-item-edit-control>
                <date-edit-control ng-model="vm.chain.surveyDate" config="vm.config.surveyDate" schema="vm.controlSchemas.surveyDate"></date-edit-control>
                <enum-item-edit-control ng-model="vm.chain.searchesId" config="vm.config.searches" schema="vm.controlSchemas.searches" hide-empty-value="true"></enum-item-edit-control>
                <enum-item-edit-control ng-model="vm.chain.enquiriesId" config="vm.config.enquiries" schema="vm.controlSchemas.enquiries" hide-empty-value="true"></enum-item-edit-control>
                <enum-item-edit-control ng-model="vm.chain.contractAgreedId" config="vm.config.contractAgreed" schema="vm.controlSchemas.contractAgreed" hide-empty-value="true"></enum-item-edit-control>
            </div>
        </side-panel-content>
        <side-panel-footer>
            <button class="btn btn-default" type="button" ng-click="vm.cancel()">
                <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
            </button>
            <button class="btn btn-primary" id="activity-add-button" type="submit">
                <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
            </button>
        </side-panel-footer>
    </kf-side-panel-card>
</form>