<form name="vm.offerAddCardForm" ng-submit="vm.offerAddCardForm.isFormValid() && vm.save()" novalidate>
    <kf-side-panel-card>
        <side-panel-header>
            <h3 translate="OFFER.CHAIN.EDIT.CHAIN_TRANSACTION"></h3>
        </side-panel-header>
        <side-panel-content>
            <!-- TODO: Implement property edit component -->
            <property-edit-control> </property-edit-control>

            <text-edit-control ng-model="vm.chain.vendor" config="vm.controlConfig" schema="vm.controlSchemas.vendor"></text-edit-control>

            <div class="section-details">
                <radio-buttons-edit-control id="agent" config="vm.controlConfig" ng-model="vm.isKnightFrankAgent"
                                            schema="vm.controlSchemas.agentType">
                </radio-buttons-edit-control>
                
                <search ng-show="vm.isThirdPartyAgentInEditMode && vm.isKnightFrankAgent" id="thirdPartyAgent-search"
                        options="vm.thirdPartyAgentSearchOptions"
                        focus-on="vm.isThirdPartyAgentInEditMode"
                        blur-on="!vm.isThirdPartyAgentInEditMode"
                        on-select-item="vm.changeThirdPartyAgent" on-cancel="vm.cancelChangeThirdPartyAgent" load-items="vm.getUsers"
                        item-template-url="app/attributes/activityNegotiators/userSearchTemplate.html" search-placeholder="bang bang skit skit"></search>
                <div id="agent-user-edit-btn-wrapper" ng-hide="vm.isThirdPartyAgentInEditMode || !vm.isKnightFrankAgent" class="form-group">
                    <button class="btn btn-default" id="agent-user-btn" type="button" ng-click="vm.editThirdPartyAgent()"><i class="fa fa-pencil"></i></button>
                </div>

                <card-list-item ng-show="vm.isKnightFrankAgent">
                    <card id="card-chain-edit-agent-user" show-context-menu="false" display-new-control="true" card-template-url="'app/attributes/offer/offerChainAddEditCard/templates/agentUserCard.html'"
                          item="vm.chain.agentUser">
                    </card>
                </card-list-item>

                <!--TODO: create card instead of panel-->
                <company-contact-edit-control ng-show="!vm.isKnightFrankAgent" schema="vm.controlSchemas.thirdPartyAgent"
                                              config="vm.controlConfig.thirdPartyAgent"
                                              type="vm.companyContactType.ThirdPartyAgent"
                                              company-contact="vm.chain.agentCompanyContact"
                                              is-panel-visible="vm.isThirdPartyAgentEditPanelVisible">
                </company-contact-edit-control>
            </div>

            <div class="section-details">
                <h4 translate="OFFER.CHAIN.EDIT.PROGRESS">Progress</h4>
                <enum-item-edit-control ng-model="vm.chain.mortgageId" config="vm.controlConfig" schema="vm.controlSchemas.mortgage" hide-empty-value="true"></enum-item-edit-control>
                <enum-item-edit-control ng-model="vm.chain.surveyId" config="vm.controlConfig" schema="vm.controlSchemas.enquiries" hide-empty-value="true"></enum-item-edit-control>
                <!--<date-edit-control ng-model="vm.chain.mortgageSurveyDate" config="vm.config.offer_MortgageSurveyDate" schema="vm.controlSchemas.mortgageSurveyDate" greater-than="vm.offer.offerDate">
                    <override-errors>
                        <p name="dateGreaterThanValidationError" ng-message="dateGreaterThan" class="help-block with-errors" translate="OFFER.EDIT.DATE_CAN_NOT_BE_LOWER_THAN_OFFER_DATE"></p>
                    </override-errors>
                </date-edit-control>-->
                <enum-item-edit-control ng-model="vm.chain.searchesId" config="vm.controlConfig" schema="vm.controlSchemas.searches" hide-empty-value="true"></enum-item-edit-control>
                <enum-item-edit-control ng-model="vm.chain.enquiriesId" config="vm.controlConfig" schema="vm.controlSchemas.enquiries" hide-empty-value="true"></enum-item-edit-control>
                <enum-item-edit-control ng-model="vm.chain.contractAgreedId" config="vm.controlConfig" schema="vm.controlSchemas.contractAgreed" hide-empty-value="true"></enum-item-edit-control>
            </div>
        </side-panel-content>
        <side-panel-footer>
            <button type="button" class="btn btn-default pull-left" ng-click="vm.edit()">
                <i class="fa fa-pencil"></i> <span translate="COMMON.EDIT"></span>
            </button>
        </side-panel-footer>
    </kf-side-panel-card>
</form>