<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="OFFER.EDIT.EDIT_OFFER"></h2>
    </div>
    <form ng-submit="vm.editOfferForm.$valid && vm.save()" name="vm.editOfferForm" id="editOfferForm" method="post" novalidate>
        <div class="col-md-4">
            <section id="section-vendor">
                <h3 class="page-header" translate="OFFER.VIEW.VENDOR"></h3>

                <h5 translate="OFFER.PREVIEW.ACTIVITY"></h5>
                <card-list-item class="requirement-view-offers" id="offer-edit-activity-details">
                    <card show-context-menu="true" show-item-details="vm.showActivityPreview" display-new-control="true"
                          card-template-url="'app/offer/view/offerVendorCard.html'" item="vm.offer">
                        <card-context-menu>
                            <context-menu-item type="details" item="vm.offer.activity" action="vm.navigateToActivity"></context-menu-item>
                        </card-context-menu>
                    </card>
                </card-list-item>
            </section>
            <section id="section-applicant">
                <h3 class="page-header" translate="OFFER.VIEW.APPLICANT"></h3>

                <h5 translate="VIEWING.ADD.REQUIREMENT"></h5>
                <card-list-item class="requirement-view-offers">
                    <card show-context-menu="true" display-new-control="true"
                          card-template-url="'app/offer/view/offerRequirementCard.html'" item="vm.offer">
                        <card-context-menu>
                            <context-menu-item type="details" item="vm.offer.requirement" action="vm.navigateToRequirement"></context-menu-item>
                        </card-context-menu>
                    </card>
                </card-list-item>
            </section>
        </div>
        <div class="col-md-4">
            <section>
                <h3 class="page-header" translate="OFFER.EDIT.BASIC_INFORMATION"></h3>
                <div class="form-group" ng-class="{'has-error': (vm.editOfferForm.$submitted || vm.editOfferForm.selectedStatus.$dirty) && vm.editOfferForm.selectedStatus.$invalid}">
                    <label class="required" for="offer-statusId" translate="OFFER.ADD.STATUS"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control" required id="offer-status" name="selectedStatus" ng-options="item as (item.id | dynamicTranslate) for item in vm.statuses track by item.id" ng-model="vm.selectedStatus">
                                <option value="" translate="COMMON.SELECTEMPTYVALUE"></option>
                            </select>
                        </div>
                    </div>
                    <div ng-messages="vm.editOfferForm.selectedStatus.$error" ng-show="vm.editOfferForm.$submitted || vm.editOfferForm.selectedStatus.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': (vm.editOfferForm.$submitted || vm.editOfferForm.price.$dirty) && vm.editOfferForm.price.$invalid}">
                    <label for="offer-price" class="required" translate="OFFER.ADD.OFFER"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="offer-price" class="form-control" type="number" ng-model="vm.offer.price" name="price" required number-greater-than="0" number-precision="0">
                                <div class="input-group-addon">GBP</div>
                            </div>
                        </div>
                    </div>
                    <div ng-messages="vm.editOfferForm.price.$error" ng-show="vm.editOfferForm.$submitted || vm.editOfferForm.price.$dirty">
                        <p name="numberGreaterThanValidationError" ng-message="numberGreaterThan" class="help-block with-errors" translate="FORM.NUMBER_HAS_TO_BE_GREATER_THAN" translate-value-value="0"></p>
                        <p name="numberPrecisionValidationError" ng-message="numberPrecision" class="help-block with-errors" translate="FORM.NUMBER_HAS_TO_BE_INTEGER"></p>
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': (vm.editOfferForm.$submitted || vm.editOfferForm.offerDate.$dirty) && vm.editOfferForm.offerDate.$invalid}">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="required" for="offer-date" translate="OFFER.ADD.OFFER_DATE"></label>
                            <div class="input-group">
                                <input type="text" id="offer-date" name="offerDate" class="form-control" ng-model="vm.offer.offerDate" uib-datepicker-popup="dd-MM-yyyy"
                                       is-open="vm.offerDateOpen" close-text="Close" placeholder="dd-mm-yyyy" required date-lower-than="{{ vm.offer.createdDate }}" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openOfferDate()"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-messages="vm.editOfferForm.offerDate.$error" ng-show="vm.editOfferForm.$submitted || vm.editOfferForm.offerDate.$dirty">
                        <p name="dateLowerThanValidationError" ng-message="dateLowerThan" class="help-block with-errors" translate="FORM.DATE_CAN_NOT_BE_GREATER_THEN_CREATE_DATE"></p>
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': (vm.editOfferForm.$submitted || vm.editOfferForm.specialConditions.$dirty) && vm.editOfferForm.specialConditions.$invalid}">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="invitation-text" translate="OFFER.ADD.SPECIAL_CONDITIONS"></label>
                            <span class="pull-right character-limit">{{vm.editOfferForm.specialConditions.$viewValue.length || 0}}/4000</span>
                            <textarea class="form-control" rows="6" ng-model="vm.offer.specialConditions" name="specialConditions" kf-max-count="4000"></textarea>
                        </div>
                    </div>
                    <div ng-messages="vm.editOfferForm.specialConditions.$error" ng-show="vm.editOfferForm.$submitted || vm.editOfferForm.specialConditions.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': (vm.editOfferForm.$submitted || vm.editOfferForm.exchangeDate.$dirty) && vm.editOfferForm.exchangeDate.$invalid}">
                    <label for="offer-proposed-exchange-date" translate="OFFER.ADD.EXCHANGE_DATE"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" id="offer-proposed-exchange-date" class="form-control" placeholder="dd-mm-yyyy" uib-datepicker-popup="dd-MM-yyyy"
                                       is-open="vm.exchangeDateOpen" close-text="Close" ng-model="vm.offer.exchangeDate" name="exchangeDate" date-greater-than="{{ vm.offer.createdDate }}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openExchangeDate()">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-messages="vm.editOfferForm.exchangeDate.$error" ng-show="vm.editOfferForm.$submitted || vm.editOfferForm.exchangeDate.$dirty">
                        <p name="dateGreaterThanValidationError" ng-message="dateGreaterThan" class="help-block with-errors" translate="FORM.DATE_CAN_NOT_BE_LOWER_THEN_CREATE_DATE"></p>
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': (vm.editOfferForm.$submitted || vm.editOfferForm.completionDate.$dirty) && vm.editOfferForm.completionDate.$invalid}">
                    <label for="proposed-completion-date" translate="OFFER.ADD.COMPLETION_DATE"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" id="proposed-completion-date" class="form-control" placeholder="dd-mm-yyyy" uib-datepicker-popup="dd-MM-yyyy"
                                       is-open="vm.completionDateOpen" close-text="Close" ng-model="vm.offer.completionDate" name="completionDate" date-greater-than="{{ vm.offer.createdDate }}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCompletionDate()">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-messages="vm.editOfferForm.completionDate.$error" ng-show="vm.editOfferForm.$submitted || vm.editOfferForm.completionDate.$dirty">
                        <p name="dateGreaterThanValidationError" ng-message="dateGreaterThan" class="help-block with-errors" translate="FORM.DATE_CAN_NOT_BE_LOWER_THEN_CREATE_DATE"></p>
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="section-details" id="offer-edit-negotiator-section">
                            <h5 translate="OFFER.ADD.NEGOTIATOR"></h5>
                            <div class="panel panel-default">
                                <div class="panel-body" id="offer-edit-negotiator-details">
                                    {{vm.offer.negotiator.getName()}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4" ng-if="vm.offerAccepted()">
            <section>
                <h3 class="page-header" translate="OFFER.EDIT.PROGRESS_SUMMARY"></h3>
                <fieldset>
                    <div class="form-group">
                        <label class="required" for="offer-statusId" translate="OFFER.EDIT.MORTGAGE_STATUS"></label>
                        <div class="row">
                            <div class="col-md-6">
                                <select id="offer-mortgage-status" class="form-control" required name="selectedMortgageStatus" ng-options="item as (item.id | dynamicTranslate) for item in vm.mortgageStatuses track by item.id" ng-model="vm.selectedMortgageStatus">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mortgage-survey-status" translate="OFFER.EDIT.MORTGAGE_SURVEY_STATUS"></label>
                        <div class="row">
                            <div class="col-md-6">
                                <select id="mortgage-survey-status" class="form-control" required name="selectedMortgageSurveyStatus" ng-options="item as (item.id | dynamicTranslate) for item in vm.mortgageSurveyStatuses track by item.id" ng-model="vm.selectedMortgageSurveyStatus">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="additional-survey-status" translate="OFFER.EDIT.ADDITIONAL_SURVEY_STATUS"></label>
                        <div class="row">
                            <div class="col-md-6">
                                <select id="additional-survey-status" class="form-control" required name="additionalSurveyStatus" ng-options="item as (item.id | dynamicTranslate) for item in vm.additionalSurveyStatuses track by item.id" ng-model="vm.selectedAdditionalSurveyStatus">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="search-status" translate="OFFER.EDIT.SEARCH_STATUS"></label>
                        <div class="row">
                            <div class="col-md-6">
                                <select id="search-status" class="form-control">
                                    <option>- select -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="enquiries" translate="OFFER.EDIT.ENQUIRIES"></label>
                        <div class="row">
                            <div class="col-md-6">
                                <select id="enquiries" class="form-control">
                                    <option>- select -</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h5 translate="OFFER.EDIT.CONTRACT_APPROVED"></h5>
                        <label class="radio-inline">
                            <input type="radio"> <span translate="OFFER.EDIT.YES"></span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio"> <span translate="OFFER.EDIT.NO"></span>
                        </label>
                    </div>
                </fieldset>
            </section>

            <section>
                <h3 class="page-header" translate="OFFER.EDIT.MORTGAGE_DETAILS"></h3>
                <div class="form-group">
                    <label for="mortgage-loan-to-value" translate="OFFER.EDIT.MORTGAGE_LOAN_TO_VALUE"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="number" id="mortgage-loan-to-value" class="form-control" ng-model="vm.offer.mortgageLoanToValue" min="0" max="200">
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h5 translate="OFFER.EDIT.BROKER"></h5>
                    <button type="button" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-item">Janson Stathon</div>
                                <div class="card-info">BBB Company</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h5 translate="OFFER.EDIT.LENDER"></h5>
                    <button type="button" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-item">Janson Stathon</div>
                                <div class="card-info">BBB Company</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mortgage-survey-date" translate="OFFER.EDIT.MORTGAGE_SURVEY_DATE"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" id="mortgage-survey-date" class="form-control" placeholder="dd-mm-yyyy">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h5 translate="OFFER.EDIT.SURVEYOR"></h5>
                    <button type="button" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-item">James Deas</div>
                                <div class="card-info">ZZZ Company</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h3 class="page-header" translate="OFFER.EDIT.ADDITIONAL_SURVEY"></h3>
                <div class="form-group">
                    <label for="additional-survey-date" translate="OFFER.EDIT.ADDITIONAL_SURVEY_DATE"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" id="additional-survey-date" class="form-control" placeholder="dd-mm-yyyy">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h5 translate="OFFER.EDIT.SURVEYOR"></h5>
                    <button type="button" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-item">James Deas</div>
                                <div class="card-info">ZZZ Company</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h3 class="page-header" translate="OFFER.EDIT.OTHER_DETAILS"></h3>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="comment" translate="OFFER.EDIT.COMMENT"></label>
                            <span class="pull-right character-limit">0/4000</span>
                            <textarea id="comment" class="form-control" rows="6"></textarea>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div>
                    <button id="offer-edit-cancel" type="button" class="btn btn-default" ng-click="vm.cancel()"><i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span></button>
                    <button id="offer-edit-save" type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<side-panel component-id="vm.componentIds.activityPreviewSidePanelId">
    <side-panel-header>
        <h3 translate="ACTIVITY.PREVIEW.ACTIVITYPREVIEW"></h3>
    </side-panel-header>
    <side-panel-content>
        <div class="row section-row">
            <div class="col-xs-5">
                <a ui-sref="app.activity-view({id: vm.offer.activity.id})" translate="ACTIVITY.PREVIEW.ACTIVITY_VIEW_LINK"></a>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-12">
                <h4 translate="OFFER.VIEW.BASIC_INFORMATION"></h4>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.STATUS"></div>
            <div class="col-xs-7" id="activity-preview-status">{{vm.offer.activity.activityStatusId | dynamicTranslate}} </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="OFFER.PREVIEW.NEGOTIATOR"></div>
            <div class="col-xs-7" id="activity-preview-negotiator">{{vm.offer.negotiator.getName()}} </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.CREATION_DATE"></div>
            <div class="col-xs-7" id="activity-preview-created-date">{{vm.offer.activity.createdDate | date : 'dd-MM-yyyy'}}</div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.VENDORS"></div>
            <div class="col-xs-7" id="activity-preview-vendors">
                <div class="row">
                    <div class="col-md-12" id="activity-preview-vendor-item-{{contact.id}}" ng-repeat="contact in vm.offer.activity.contacts track by $id(contact)">
                        {{contact.getName()}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.TYPE"></div>
            <div class="col-xs-7" id="activity-preview-type">{{vm.offer.activity.activityTypeId | dynamicTranslate}} </div>
        </div>
    </side-panel-content>
</side-panel>