<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="OFFER.EDIT.EDIT_OFFER"></h2>
    </div>
    <form ng-submit="vm.editOfferForm.isFormValid() && vm.save()" name="vm.editOfferForm" id="editOfferForm" method="post" novalidate>
        <div class="col-md-4">
            <section id="section-vendor">
                <h3 class="page-header" translate="OFFER.VIEW.VENDOR"></h3>

                <h5 translate="OFFER.PREVIEW.ACTIVITY"></h5>
                <card-list-item class="requirement-view-offers" id="offer-edit-activity-details">
                    <card show-context-menu="true" show-item-details="vm.showActivityPreview" display-new-control="true"
                          card-template-url="'app/offer/view/offerVendorCard.html'" item="vm.offer">
                        <card-context-menu>
                            <context-menu-item type="details" item="vm.offer.activity" action="vm.navigateToActivity"></context-menu-item>
                        </card-context-menu>
                    </card>
                </card-list-item>
            </section>
            <section id="section-applicant">
                <h3 class="page-header" translate="OFFER.VIEW.APPLICANT"></h3>

                <h5 translate="VIEWING.ADD.REQUIREMENT"></h5>
                <card-list-item class="requirement-view-offers">
                    <card show-context-menu="true" display-new-control="true"
                          card-template-url="'app/offer/view/offerRequirementCard.html'" item="vm.offer">
                        <card-context-menu>
                            <context-menu-item type="details" item="vm.offer.requirement" action="vm.navigateToRequirement"></context-menu-item>
                        </card-context-menu>
                    </card>
                </card-list-item>
            </section>
        </div>
        <div class="col-md-4">
            <section>
                <h3 class="page-header" translate="OFFER.EDIT.BASIC_INFORMATION"></h3>
                <enum-item-edit-control ng-model="vm.offer.statusId" config="vm.config.offer_Status" schema="vm.controlSchemas.status" on-selected-item-changed="vm.offerStatusChanged()"></enum-item-edit-control>
                <price-edit-control ng-model="vm.offer.price" config="vm.config.offer_Price" schema="vm.controlSchemas.price"></price-edit-control>
                <price-edit-control ng-model="vm.offer.pricePerWeek" config="vm.config.offer_PricePerWeek" schema="vm.controlSchemas.pricePerWeek"></price-edit-control>
                <date-edit-control ng-model="vm.offer.offerDate" config="vm.config.offer_OfferDate" schema="vm.controlSchemas.offerDate" lower-than="vm.offer.createdDate">
                    <override-errors>
                        <p name="dateLowerThanValidationError" ng-message="dateLowerThan" class="help-block with-errors" translate="FORM.DATE_CAN_NOT_BE_GREATER_THEN_CREATE_DATE"></p>
                    </override-errors>
                </date-edit-control>
                <textarea-edit-control ng-model="vm.offer.specialConditions" config="vm.config.offer_SpecialConditions" schema="vm.controlSchemas.specialConditions" rows="6"></textarea-edit-control>
                <date-edit-control ng-model="vm.offer.exchangeDate" config="vm.config.offer_ExchangeDate" schema="vm.controlSchemas.exchangeDate" greater-than="vm.offer.createdDate">
                    <override-errors>
                        <p name="dateGreaterThanValidationError" ng-message="dateGreaterThan" class="help-block with-errors" translate="FORM.DATE_CAN_NOT_BE_LOWER_THEN_CREATE_DATE"></p>
                    </override-errors>
                </date-edit-control>
                <date-edit-control ng-model="vm.offer.completionDate" config="vm.config.offer_CompletionDate" schema="vm.controlSchemas.completionDate" greater-than="vm.offer.createdDate">
                    <override-errors>
                        <p name="dateGreaterThanValidationError" ng-message="dateGreaterThan" class="help-block with-errors" translate="FORM.DATE_CAN_NOT_BE_LOWER_THEN_CREATE_DATE"></p>
                    </override-errors>
                </date-edit-control>

                <div class="row">
                    <div class="col-md-6">
                        <div class="section-details" id="offer-edit-negotiator-section">
                            <h5 translate="OFFER.ADD.NEGOTIATOR"></h5>
                            <div class="panel panel-default">
                                <div class="panel-body" id="offer-edit-negotiator-details">
                                    {{vm.offer.negotiator.getName()}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4" ng-if="vm.offerAccepted()">
            <section id="progress-section" ng-if="vm.isProgressSummarySectionVisible()">
                <h3 class="page-header" translate="OFFER.EDIT.PROGRESS_SUMMARY"></h3>
                <fieldset>
                    <enum-item-edit-control ng-model="vm.offer.mortgageStatusId" config="vm.config.offer_MortgageStatus" schema="vm.controlSchemas.mortgageStatus" hide-empty-value="true"></enum-item-edit-control>
                    <enum-item-edit-control ng-model="vm.offer.mortgageSurveyStatusId" config="vm.config.offer_MortgageSurveyStatus" schema="vm.controlSchemas.mortgageSurveyStatus" hide-empty-value="true"></enum-item-edit-control>
                    <enum-item-edit-control ng-model="vm.offer.additionalSurveyStatusId" config="vm.config.offer_AdditionalSurveyStatus" schema="vm.controlSchemas.additionalSurveyStatus" hide-empty-value="true"></enum-item-edit-control>
                    <enum-item-edit-control ng-model="vm.offer.searchStatusId" config="vm.config.offer_SearchStatus" schema="vm.controlSchemas.searchStatus" hide-empty-value="true"></enum-item-edit-control>
                    <enum-item-edit-control ng-model="vm.offer.enquiriesId" config="vm.config.offer_Enquiries" schema="vm.controlSchemas.enquiries" hide-empty-value="true"></enum-item-edit-control>
                    <div id="contract-approved" class="form-group">
                        <h5 translate="OFFER.EDIT.CONTRACT_APPROVED"></h5>
                        <label class="radio-inline">
                            <input type="radio" ng-model="vm.offer.contractApproved" ng-value="true"><span translate="OFFER.EDIT.YES"></span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="vm.offer.contractApproved" ng-value="false"><span translate="OFFER.EDIT.NO"></span>
                        </label>
                    </div>
                </fieldset>
            </section>

            <section ng-if="vm.isMortgageDetailsSectionVisible()">
                <h3 class="page-header" translate="OFFER.EDIT.MORTGAGE_DETAILS"></h3>
                <div class="form-group" ng-class="{'has-error': (vm.editOfferForm.$submitted || vm.editOfferForm.mortgageLoanToValue.$dirty) && vm.editOfferForm.mortgageLoanToValue.$invalid}">
                    <label for="mortgage-loan-to-value" translate="OFFER.EDIT.MORTGAGE_LOAN_TO_VALUE"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="number" id="mortgage-loan-to-value" name="mortgageLoanToValue" class="form-control" ng-model="vm.offer.mortgageLoanToValue" min="0" max="200" pattern="[0-9]+">
                                <div class="input-group-addon">%</div>
                            </div>
                            <div ng-messages="vm.editOfferForm.mortgageLoanToValue.$error" ng-show="vm.editOfferForm.$submitted || vm.editOfferForm.mortgageLoanToValue.$dirty">
                                <p name="maxNumberValidationError" ng-message="max" class="help-block with-errors" translate="OFFER.EDIT.LOAN_TO_VALUE_MUST_BE_LESS_OR_EQUAL_200"></p>
                                <p name="minNumberValidationError" ng-message="min" class="help-block with-errors" translate="OFFER.EDIT.LOAN_TO_VALUE_MUST_BE_GREATER_THAN_ZERO"></p>
                                <p name="patternValidationError" ng-message="pattern" class="help-block with-errors" translate="FORM.NUMBER_HAS_TO_BE_INTEGER"></p>
                                <p name="numberValidationError" ng-message="number" class="help-block with-errors" translate="FORM.NUMBER_HAS_TO_BE_INTEGER"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <company-contact-edit-control schema="vm.controlSchemas.broker"
                                              config="vm.config.offer_Broker"
                                              type="vm.companyContactType.Broker"
                                              company-contact="vm.brokerCompanyContact"
                                              is-panel-visible="vm.isBrokerEditPanelVisible">
                </company-contact-edit-control>
                <company-contact-edit-control schema="vm.controlSchemas.lender"
                                              config="vm.config.offer_Lender"
                                              type="vm.companyContactType.Lender"
                                              company-contact="vm.lenderCompanyContact"
                                              is-panel-visible="vm.isLenderEditPanelVisible">
                </company-contact-edit-control>

                <date-edit-control ng-model="vm.offer.mortgageSurveyDate" config="vm.config.offer_MortgageSurveyDate" schema="vm.controlSchemas.mortgageSurveyDate" greater-than="vm.offer.offerDate">
                    <override-errors>
                        <p name="dateGreaterThanValidationError" ng-message="dateGreaterThan" class="help-block with-errors" translate="OFFER.EDIT.DATE_CAN_NOT_BE_LOWER_THAN_OFFER_DATE"></p>
                    </override-errors>
                </date-edit-control>

                <company-contact-edit-control schema="vm.controlSchemas.surveyor"
                                              config="vm.config.offer_Surveyor"
                                              type="vm.companyContactType.Surveyor"
                                              company-contact="vm.surveyorCompanyContact"
                                              is-panel-visible="vm.isSurveyorEditPanelVisible">
                </company-contact-edit-control>
            </section>

            <section ng-if="vm.isAdditionalSurveySectionVisible()">
                <h3 class="page-header" translate="OFFER.EDIT.ADDITIONAL_SURVEY"></h3>
                <date-edit-control ng-model="vm.obffer.additionalSurveyDate" config="vm.config.offer_AdditionalSurveyDate" schema="vm.controlSchemas.additionalSurveyDate" greater-than="vm.offer.offerDate">
                    <override-errors>
                        <p name="dateGreaterThanValidationError" ng-message="dateGreaterThan" class="help-block with-errors" translate="OFFER.EDIT.DATE_CAN_NOT_BE_LOWER_THAN_OFFER_DATE"></p>
                    </override-errors>
                </date-edit-control>
               
                <company-contact-edit-control schema="vm.controlSchemas.additionalSurveyor"
                                              config="vm.config.offer_AdditionalSurveyor"
                                              type="vm.companyContactType.AdditionalSurveyor"
                                              company-contact="vm.additionalSurveyorCompanyContact"
                                              is-panel-visible="vm.isAdditionalSurveyorEditPanelVisible">
                </company-contact-edit-control>
            </section>

            <section ng-if="vm.config.offer_ProgressComment">
                <h3 class="page-header" translate="OFFER.EDIT.OTHER_DETAILS"></h3>
                <textarea-edit-control ng-model="vm.offer.progressComment" config="vm.config.offer_ProgressComment" schema="vm.controlSchemas.progressComment" rows="6"></textarea-edit-control>
            </section>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div>
                    <button id="offer-edit-cancel" type="button" class="btn btn-default" ng-click="vm.cancel()">
                        <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
                    </button>
                    <button id="offer-edit-save" type="submit" class="btn btn-primary">
                        <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<side-panel component-id="vm.componentIds.activityPreviewSidePanelId">
    <side-panel-header>
        <h3 translate="ACTIVITY.PREVIEW.ACTIVITYPREVIEW"></h3>
    </side-panel-header>
    <side-panel-content>
        <div class="row section-row">
            <div class="col-xs-5">
                <a ui-sref="app.activity-view({id: vm.offer.activity.id})" translate="ACTIVITY.PREVIEW.ACTIVITY_VIEW_LINK"></a>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-12">
                <h4 translate="OFFER.VIEW.BASIC_INFORMATION"></h4>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.STATUS"></div>
            <div class="col-xs-7" id="activity-preview-status">{{vm.offer.activity.activityStatusId | dynamicTranslate}} </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="OFFER.PREVIEW.NEGOTIATOR"></div>
            <div class="col-xs-7" id="activity-preview-negotiator">{{vm.offer.negotiator.getName()}} </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.CREATION_DATE"></div>
            <div class="col-xs-7" id="activity-preview-created-date">{{vm.offer.activity.createdDate | date : 'dd-MM-yyyy'}}</div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.VENDORS"></div>
            <div class="col-xs-7" id="activity-preview-vendors">
                <div class="row">
                    <div class="col-md-12" id="activity-preview-vendor-item-{{contact.id}}" ng-repeat="contact in vm.offer.activity.contacts track by $id(contact)">
                        {{contact.getName()}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.TYPE"></div>
            <div class="col-xs-7" id="activity-preview-type">{{vm.offer.activity.activityTypeId | dynamicTranslate}} </div>
        </div>
    </side-panel-content>
</side-panel>