<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="CONTACT.EDIT_CONTACT"></h2>

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <form ng-submit="editContactForm.$valid && vm.save()" name="editContactForm" id="editContactForm" method="post" novalidate>
                    <fieldset>
                        <div id="title-section" class="form-group" ng-class="{'has-error': (editContactForm.$submitted || editContactForm.title.$dirty) && editContactForm.title.$invalid}">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="required" for="title" translate="CONTACT.TITLE"></label>

                                    <input type="text" class="form-control" id="title" name="title" ng-maxlength="128" ng-model="vm.contact.title" ng-change="vm.setSalutations()" autocomplete="off">

                                    <div ng-messages="editContactForm.title.$error" ng-show="editContactForm.$submitted || editContactForm.title.$dirty">
                                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (editContactForm.$submitted || editContactForm.firstName.$dirty) && editContactForm.firstName.$invalid}">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="first-name" translate="CONTACT.FIRSTNAME"></label>
                                    <input type="text" class="form-control" id="first-name" name="firstName" ng-maxlength="128" ng-model="vm.contact.firstName" ng-change="vm.setSalutations()" autocomplete="off">
                                    <div ng-messages="editContactForm.firstName.$error" ng-show="editContactForm.$submitted || editContactForm.firstName.$dirty">
                                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (editContactForm.$submitted || editContactForm.lastName.$dirty) && editContactForm.lastName.$invalid}">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="required" for="last-name" translate="CONTACT.LASTNAME"></label>
                                    <input type="text" class="form-control" id="last-name" name="lastName" required ng-maxlength="128" ng-model="vm.contact.lastName" ng-change="vm.setSalutations()" autocomplete="off">
                                    <div ng-messages="editContactForm.lastName.$error" ng-show="editContactForm.$submitted || editContactForm.lastName.$dirty">
                                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <button class="btn btn-default" type="button" ng-click="vm.cancelEdit()">
                            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
                        </button>
                        <button type="submit" class="btn btn-primary" id="saveBtn"><i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
