<div class="row">
    <form ng-submit="editActivityForm.isFormValid() && vm.save()" name="editActivityForm" method="post" novalidate>
        <div class="col-md-12">
            <h2 class="page-header" translate="ACTIVITY.ADD.CREATE_ACTIVITY" ng-if="vm.isAddMode()"></h2>
            <h2 class="page-header" translate="ACTIVITY.EDIT.EDIT_ACTIVITY" ng-if="vm.isEditMode()"></h2>
            <div class="well">
                <label translate="ACTIVITY.EDIT.ACTIVITY_TITLE"></label>
                <div>{{ vm.activity.property.address.getAddressText() }}</div>
                <div class="row">
                    <div class="col-md-4">
                        <activity-type-edit-control property-type-id="vm.activity.property.propertyTypeId" ng-model="vm.activity.activityTypeId" config="vm.config.activityType"
                                                    on-activity-type-changed="vm.activityTypeChanged(activityTypeId)">
                        </activity-type-edit-control>
                    </div>
                    <div class="col-md-8">
                        <enum-item-edit-control ng-model="vm.activity.activityStatusId"
                                                config="vm.config.activityStatus"
                                                schema="vm.activityStatusSchema"
                                                on-selected-item-changed="vm.activityStatusChanged(activityStatusId)"></enum-item-edit-control>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <section id="activity-edit-vendors">
                <activity-vendors-edit-control contacts="vm.activity.contacts" config="vm.config.vendors"></activity-vendors-edit-control>
            </section>
            <section id="activity-edit-landlords">
                <activity-landlords-edit-control contacts="vm.activity.contacts" config="vm.config.landlords"></activity-landlords-edit-control>
            </section>
            <section id="activity-edit-negotiators">
                <activity-negotiators-edit-control property-division-id="{{ vm.activity.property.divisionId }}"
                                                   activity-id="vm.activity.id"
                                                   config="vm.config.negotiators"
                                                   on-negotiator-added="vm.onNegotiatorAdded(user)"
                                                   lead-negotiator="vm.activity.leadNegotiator"
                                                   secondary-negotiators="vm.activity.secondaryNegotiator"></activity-negotiators-edit-control>
            </section>
            <section id="activity-edit-departments">
                <activity-departments-edit-control activity-id="vm.activity.id"
                                                   config="vm.config.departments"
                                                   departments="vm.activity.activityDepartments"
                                                   department-is-related-with-negotiator="vm.departmentIsRelatedWithNegotiator(department)"></activity-departments-edit-control>
            </section>
        </div>
        <div class="col-md-4">
            <fieldset id="activity-edit-prices">
                <h3 class="page-header" translate="ACTIVITY.EDIT.PRICES.PRICES"></h3>
                <price-edit-control config="vm.config.marketAppraisalPrice" schema="vm.controlSchemas.marketAppraisalPrice" ng-model='vm.activity.marketAppraisalPrice'></price-edit-control>
                <price-edit-control config="vm.config.recommendedPrice" schema="vm.controlSchemas.recommendedPrice" ng-model='vm.activity.recommendedPrice'></price-edit-control>
                <price-edit-control config="vm.config.vendorEstimatedPrice" schema="vm.controlSchemas.vendorEstimatedPrice" ng-model='vm.activity.vendorEstimatedPrice'></price-edit-control>
                <price-edit-control config="vm.config.askingPrice" schema="vm.controlSchemas.askingPrice" ng-model='vm.activity.askingPrice'></price-edit-control>
                <price-edit-control config="vm.config.shortLetPricePerWeek" schema="vm.controlSchemas.shortLetPricePerWeek" ng-model='vm.activity.shortLetPricePerWeek'></price-edit-control>
            </fieldset>
            <section id="activity-basic-info">
                <fieldset id="activity-edit-basic">
                    <h3 class="page-header" translate="ACTIVITY.EDIT.BASIC_INFORMATION"></h3>
                    <property-view-control property="vm.activity.property" is-panel-visible="vm.isPropertyPreviewPanelVisible" config="vm.config.property"></property-view-control>
                    <enum-item-edit-control ng-model="vm.activity.sourceId" config="vm.config.source" schema="vm.activitySourceSchema"></enum-item-edit-control>
                    <textarea-edit-control ng-model="vm.activity.sourceDescription" config="vm.config.sourceDescription" schema="vm.activitySourceDescriptionSchema"></textarea-edit-control>
                    <enum-item-edit-control ng-model="vm.activity.sellingReasonId" config="vm.config.sellingReason" schema="vm.activitySellingReasonSchema"></enum-item-edit-control>
                    <textarea-edit-control ng-model="vm.activity.pitchingThreats" config="vm.config.pitchingThreats" schema="vm.pitchingThreatsSchema"></textarea-edit-control>
                </fieldset>
            </section>
            <section id="activity-additional-info">
                <fieldset>
                    <h3 class="page-header" translate="ACTIVITY.EDIT.ADDITIONAL_INFORMATION.ADDITIONAL_INFORMATION"></h3>
                    <h5 class="page-header" translate="ACTIVITY.EDIT.ADDITIONAL_INFORMATION.ACCESS_DETAILS"></h5>
                    <text-edit-control ng-model="vm.activity.keyNumber" config="vm.config.keyNumber" schema="vm.keyNumberSchema"></text-edit-control>
                    <textarea-edit-control ng-model="vm.activity.accessArrangements" config="vm.config.accessArrangements" schema="vm.accessArrangementsSchema"></textarea-edit-control>
                </fieldset>
            </section>
        </div>

        <div class="col-md-4">
            <h3 class="page-header" translate="ACTIVITY.EDIT.APPRAISAL_MEETING.APPRAISAL_MEETING"></h3>
            <activity-attendees-edit-control users="vm.availableAttendeeUsers" contacts="vm.availableAttendeeContacts" attendees="vm.activity.attendees" config="vm.configMocked.attendees"></activity-attendees-edit-control>
            <textarea-edit-control ng-model="vm.activity.invitationText" config="vm.config.invitationText" schema="vm.invitationTextSchema"></textarea-edit-control>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div>
                    <button id="activity-edit-cancel" type="button" class="btn btn-default" ng-click="vm.cancel()"><i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span></button>
                    <button id="activity-edit-save" type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>