<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="COMPANY.ADD.CREATE_COMPANY"></h2>
    </div>

    <form ng-submit="addCompanyForm.$valid && vm.hasCompanyContacts() && vm.createCompany()" name="addCompanyForm" id="addCompanyForm" method="post" novalidate>
        <div class="col-md-4">
            <fieldset>
                <h3 class="page-header" translate="COMPANY.ADD.BASIC_INFORMATION"></h3>

                <div class="form-group" ng-class="{'has-error': (addCompanyForm.$submitted || addCompanyForm.name.$dirty) && addCompanyForm.name.$invalid}">
                    <label class="required" for="name" translate="COMPANY.ADD.NAME"></label>
                    <input type="text" class="form-control" id="name" name="name" required ng-maxlength="128" ng-model="vm.company.name" autocomplete="off">
                    <div ng-messages="addCompanyForm.name.$error" ng-show="addCompanyForm.$submitted || addCompanyForm.name.$dirty">
                        <div ng-messages-include="app/common/views/errorMessages.html"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website" placeholder="http://">
                </div>

                <div class="form-group">
                    <label for="client-care-website">Client care website</label>
                    <input type="url" class="form-control" id="client-care-website" placeholder="http://">
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="client-care-status">Client care status</label>
                            <select id="client-care-status" class="form-control">
                                <option>-- select --</option>
                                <option>Option item</option>
                                <option>Option item</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-4">

                <section>
                    <list id="list-contacts">
                        <list-header>
                            <h3 class="page-header" translate="COMPANY.ADD.CONTACTS"></h3>
                        </list-header>
                        <list-actions>
                            <div class="form-group">
                                <button class="btn btn-default" type="button" ng-click="vm.showContactList()">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                            </div>
                        </list-actions>
                        <list-no-items ng-show="vm.hasCompanyContacts() === false" ng-class="{'has-error': addCompanyForm.$submitted}">
                            <p class="help-block" id="no-contacts-help-block" ng-show="addCompanyForm.$submitted === false" translate="COMPANY.ADD.NO_CONTACTS"></p>
                            <p class="help-block" id="contacts-are-required-help-block" ng-show="addCompanyForm.$submitted" translate="COMPANY.ADD.CONTACTS_ARE_REQUIRED"></p>
                        </list-no-items>
                        <list-item id="list-item-contact-{{contact.id}}" ng-repeat="contact in vm.company.contacts">
                            {{contact.getName()}}
                        </list-item>
                    </list>
                </section>

        </div>

        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" id="company-save-btn" class="btn btn-primary"><i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span></button>
            </div>
        </div>
    </form>
</div>

<!-- TODO

<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">View company</h2>

        <div class="well">
            <button type="button" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> <span translate="COMMON.EDIT">Edit</span></button>
            <div>A company</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h3 class="page-header">Basic info</h3>

                <div class="section-row row">
                    <div class="col-xs-4">Website</div>
                    <div class="col-xs-8"><a href="#" target="_blank">www.companywebpage.com</a> <i class="fa fa-external-link" aria-hidden="true"></i></div>
                </div>

                <div class="section-row row">
                    <div class="col-xs-4">Client Care website</div>
                    <div class="col-xs-8"><a href="#" target="_blank">www.clientcare.companywebpage.com</a> <i class="fa fa-external-link" aria-hidden="true"></i></div>
                </div>

                <div class="section-row row">
                    <div class="col-xs-4">Client Care status</div>
                    <div class="col-xs-8">Lorem ipsum</div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="page-header">Contacts</h3>

                <div class="card card-no-menu">
                    <div class="card-body">
                        <div class="card-item">Gilberto Lyons</div>
                    </div>
                </div>

                <div class="card card-no-menu">
                    <div class="card-body">
                        <div class="card-item">Drew Sanders</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->

<side-panel component-id="vm.componentIds.contactSidePanelId">
    <side-panel-header>
        <h3 translate="COMPANY.ADD.FINDCONTACT"></h3>
    </side-panel-header>
    <side-panel-content>
        <contact-list component-id="vm.componentIds.contactListId"></contact-list>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.cancelUpdateContacts()">
            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.updateContacts()">
            <i class="fa fa-check" aria-hidden="true"></i> <span translate="COMMON.APPLY"></span>
        </button>
    </side-panel-footer>
</side-panel>