﻿<kf-side-panel>
    <side-panel-cards>
        <offer-preview-card offer="vm.offer" config="vm.config" ng-if="vm.isPreviewCardVisible" on-edit="vm.edit()"></offer-preview-card>
        <offer-edit-card
            offer="vm.offer"
            on-save="vm.save(offer)" on-cancel="vm.cancel()"
            config="vm.config" back-to-preview="vm.backToPreview"
            pristine-flag="vm.cardPristine"
            on-reload-config="vm.reloadConfig(offer)"
            ng-if="vm.isEditCardVisible"></offer-edit-card>
    </side-panel-cards>
</kf-side-panel>