<div class="row">
    <div class="col-md-6">
        <h2 class="page-header" translate="PROPERTY.ADD.ADD_PROPERTY"></h2>
        <!--<a ng-click="vm.changePropertyType('Commercial')">Commercial property</a>
        <a ng-click="vm.changePropertyType('Residential')">Residential property</a>-->

        <select>
            <optgroup ng-repeat="propertyType in vm.propertyTypes" label="{{propertyType.name}}">
                <option ng-repeat="propertySubtype in propertyType.children">{{propertySubtype.name}}</option>
            </optgroup>
        </select>

        <form ng-submit="addPropertyForm.$valid && vm.save()" name="addPropertyForm" id="addPropertyForm" method="post" novalidate>
            <fieldset>
                <legend translate="PROPERTY.ADD.ADDRESS"></legend>
                <address-form-edit entity-type-code="vm.entityTypeCode" address="vm.property.address" user-country-code="vm.userData.country"></address-form-edit>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="saveBtn" ng-disabled="!vm.property.address.countryId"><i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span></button>
            </div>
        </form>
    </div>
</div>