<ng-form name="vm.{{vm.schema.formName}}" ng-if="vm.config">
    <div class="form-group" show-errors>
        <div class="row">
            <div class="col-md-9">
                <label for="status" ng-class="{'required': vm.config[vm.schema.fieldName].required}" translate="{{vm.schema.translationKey}}"></label>
                <span class="pull-right character-limit">{{vm[vm.schema.formName].text.$viewValue.length || 0}}/4000</span>
                <textarea ng-model="vm.ngModel"
                          rows="{{vm.rows}}"
                          kf-max-count="4000"
                          id="{{vm.schema.controlId}}"
                          name="text"
                          ng-required="vm.config[vm.schema.fieldName].required"
                          class="form-control"
                          type="text"> 
                </textarea>
                <div ng-messages="vm[vm.schema.formName].text.$error" ng-show="vm[vm.schema.formName].$submitted || vm[vm.schema.formName].text.$dirty">
                    <div ng-messages-include="app/common/views/errorMessages.html"></div>
                </div>
            </div>
        </div>
    </div>
</ng-form>