<form name="vm.activityAddCardForm" ng-submit="vm.activityAddCardForm.isFormValid() && vm.save()" novalidate>
    <kf-side-panel-card>
        <side-panel-header>
            <h3 translate="ACTIVITY.ADD.CREATE_ACTIVITY"></h3>
        </side-panel-header>
        <side-panel-content>
            <activity-type-edit-control property-type-id="vm.propertyTypeId" ng-model="vm.activity.activityTypeId" config="vm.config.activityType"></activity-type-edit-control>
            <activity-status-control ng-model="vm.activity.activityStatusId" config="vm.config.activityStatus"></activity-status-control>
 
            <activity-vendors-control vendor-contacts="vm.getVendorContacts()" config="vm.config.vendors"></activity-vendors-control>
            <activity-landlords-control landlords-contacts="vm.getVendorContacts()" config="vm.config.landlords"></activity-landlords-control>
        </side-panel-content>
        <side-panel-footer>
            <button class="btn btn-default" type="button" ng-click="vm.cancel()">
                <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
            </button>            
            <button class="btn btn-primary" id="activity-add-button" type="submit">
                <i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span>
            </button>
        </side-panel-footer>
    </kf-side-panel-card>
</form>