<div class="row">

    <div class="col-md-12">
        <h2 class="page-header" translate="COMPANY.VIEW_COMPANY"></h2>
        <div class="well">
            <button type="button" id="company-edit-btn" class="btn btn-default pull-right" ng-click="vm.goToEdit()"><i class="fa fa-pencil"></i> <span translate="COMMON.EDIT"></span></button>
            <div id="name">{{vm.company.name}}</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h3 class="page-header" translate="COMPANY.BASIC_INFORMATION"></h3>

                <!-- category -->
                <div class="section-row row">
                    <div class="col-xs-6 section-title" translate="COMPANY.CATEGORY"></div>
                    <div class="col-xs-6">
                        {{ vm.company.companyCategoryId | dynamicTranslate | defaultValue }}
                    </div>
                </div>

                <!-- type -->
                <div class="section-row row">
                    <div class="col-xs-6 section-title" translate="COMPANY.TYPE"></div>
                    <div class="col-xs-6">
                        {{ vm.company.companyTypeId | dynamicTranslate | defaultValue }}
                    </div>
                </div>

                <!-- descripton -->
                <div class="section-row row">
                    <div class="col-xs-6 section-title" translate="COMPANY.DESCRIPTION"></div>
                    <div class="col-xs-6">
                        {{ vm.company.description | defaultValue }}
                    </div>
                </div>

                <!-- websiteUrl -->
                <div class="section-row row">
                    <div class="col-xs-6 section-title" translate="COMPANY.WEBSITE"></div>
                    <div class="col-xs-6">
                        <external-link id="websiteUrl" url="vm.company.websiteUrl" show-text="true"></external-link>
                    </div>
                </div>

                <!-- clientCarePageUrl -->
                <div class="section-row row">
                    <div class="col-xs-6 section-title" translate="COMPANY.CLIENT_CARE_WEBSITE"></div>
                    <div class="col-xs-6">
                        <external-link id="clientCarePageUrl" url="vm.company.clientCarePageUrl" show-text="true"></external-link>
                    </div>
                </div>

                <!-- clientCareStatusId -->
                <div class="section-row row">
                    <div class="col-xs-6 section-title" translate="COMPANY.CLIENT_CARE_STATUS"></div>
                    <div class="col-xs-6" id="clientCareStatus">
                        {{vm.company.clientCareStatusId | dynamicTranslate | defaultValue }}
                    </div>
                </div>

                <!-- relationship manager -->
                <div class="section-row row">
                    <div class="col-xs-6 section-title" translate="COMPANY.RELATIONSHIP_MANAGER"></div>
                    <div class="col-xs-6">
                        {{ vm.company.relationshipManager.getName() | defaultValue }}
                    </div>
                </div>

                <!-- is valid -->
                <div class="section-row row">
                    <div class="col-xs-6 section-title" translate="COMPANY.IS_VALID"></div>
                    <div class="col-xs-6" >
                        {{ vm.company.valid | boolToString | defaultValue }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <section>
                    <list id="list-contacts">
                        <list-header>
                            <h3 class="page-header" translate="COMPANY.CONTACTS"></h3>
                        </list-header>

                        <list-no-items ng-show="vm.hasCompanyContacts() === false" ng-class="{'has-error': addCompanyForm.$submitted}">
                            <p class="help-block" id="no-contacts-help-block" ng-show="addCompanyForm.$submitted === false" translate="COMPANY.ADD.NO_CONTACTS"></p>
                            <p class="help-block" id="contacts-are-required-help-block" ng-show="addCompanyForm.$submitted" translate="COMPANY.ADD.CONTACTS_ARE_REQUIRED"></p>
                        </list-no-items>
                        <list-item id="list-item-contact-{{contact.id}}" ng-repeat="contact in vm.company.contacts">
                            {{contact.getName()}}
                        </list-item>
                    </list>
                </section>

            </div>

        </div>
    </div>
</div>