<div ng-show="vm.isLoading">
    <span translate="COMMON.LOADINGDATA"></span>
</div>
<div class="panel panel-default" ng-repeat="activity in vm.activities">
    <div class="panel-body">
        <div class="radio">
            <label>
                <input type="radio" name="activity" ng-model="vm.selectedActivity" value="{{::activity.id}}"/>
                <span ng-if="activity.propertyName">{{:: activity.propertyName + ', '}}</span>{{ :: activity.propertyNumber + ' ' + activity.line2}}
            </label>
        </div>
    </div>
</div>