<ng-form name="vm.{{vm.schema.formName}}" ng-if="vm.config">
    <div show-errors>
        <search ng-show="vm.isInEditMode" id="user-search"
                options="vm.searchOptions"
                focus-on="vm.isInEditMode"
                blur-on="!vm.isInEditMode"
                on-select-item="vm.changeUser" on-cancel="vm.cancelChangeUser" load-items="vm.getUsers"
                item-template-url="{{vm.schema.itemTemplateUrl}}" search-placeholder="{{vm.schema.searchPlaceholderTranslationKey}}"></search>

    <div id="user-add-edit-btn-wrapper" ng-hide="vm.isInEditMode" class="form-group">
        <button class="btn btn-default" id="user-btn" type="button" ng-click="vm.editUser()">
            <i class="fa" ng-class="{'fa-plus-circle': !vm.user, 'fa-pencil': vm.user}"></i>
        </button>
        <div ng-if="!vm.user && !vm.isInEditMode">
            <p class="help-block" id="no-contacts-help-block" ng-show="vm[vm.schema.formName].$submitted === false">{{vm.schema.emptyTranslationKey | translate}}</p>
        </div>
    </div>

    <div class="row" ng-show="vm.user">
        <div class="col-xs-12">
            <div class="panel panel-default applicant">
                <div class="panel-body">
                    {{ vm.user.getName() }}
                </div>
            </div>
        </div>
            <div ng-messages-include="app/common/views/errorMessages.html"></div>
        </div>
    </div>
</ng-form>