<div class="row">
    <div id="view-offer-header" class="col-md-12">
        <h2 class="page-header" translate="OFFER.VIEW.VIEW_OFFER"></h2>
        <div class="well">
            <button type="button" class="btn btn-default pull-right" ng-click="vm.goToEdit()"><i class="fa fa-pencil"></i> <span translate="COMMON.EDIT"></span></button>
            <div>
                <span class="offer-status offer-status-{{vm.offer.statusId | enumClass}}">{{vm.offer.statusId | dynamicTranslate}}</span>
                <span class="offer-title">{{vm.offer.requirement.getContactNames()}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <section id="section-vendor">
            <h3 class="page-header" translate="OFFER.VIEW.VENDOR"></h3>

            <h5 translate="OFFER.PREVIEW.ACTIVITY"></h5>
            <card-list-item class="requirement-view-offers">
                <card show-context-menu="true" show-item-details="vm.showActivityPreview" display-new-control="true"
                      card-template-url="'app/offer/view/offerVendorCard.html'" item="vm.offer">
                    <card-context-menu>
                        <context-menu-item type="details" item="vm.offer.activity" action="vm.navigateToActivity"></context-menu-item>
                    </card-context-menu>
                </card>
            </card-list-item>
        </section>
        <section id="section-applicant">
            <h3 class="page-header" translate="OFFER.VIEW.APPLICANT"></h3>

            <h5 translate="VIEWING.ADD.REQUIREMENT"></h5>
            <card-list-item class="requirement-view-offers">
                <card show-context-menu="true" display-new-control="true"
                      card-template-url="'app/offer/view/offerRequirementCard.html'" item="vm.offer">
                    <card-context-menu>
                        <context-menu-item type="details" item="vm.offer.requirement" action="vm.navigateToRequirement"></context-menu-item>
                    </card-context-menu>
                </card>
            </card-list-item>
        </section>
    </div>
    <div class="col-md-4">
        <section id="section-basic-information">
            <h3 class="page-header" translate="OFFER.VIEW.BASIC_INFORMATION"></h3>

            <div class="section-details">
                <div class="section-row row">
                    <div class="section-title col-xs-4">Status</div>
                    <div class="col-xs-8">{{vm.offer.statusId | dynamicTranslate}}</div>
                </div>
                <div class="section-row row">
                    <div class="section-title col-xs-4">Offer</div>
                    <div class="col-xs-8">{{vm.offer.price | number : 2 }} GBP</div>
                </div>
                <div class="section-row row">
                    <div class="section-title col-xs-4">Offer date</div>
                    <div class="col-xs-8"><time>{{vm.offer.offerDate | date : 'dd-MM-yyyy'}}</time></div>
                </div>
            </div>
            <div class="section-details">
                <div class="section-row row">
                    <div class="section-title col-xs-12">
                        <h5>Special conditions</h5>
                    </div>
                    <div class="col-xs-12">
                        <p>{{vm.offer.specialConditions}}</p>
                    </div>
                </div>
            </div>
            <div class="section-details">
                <div class="section-row row">
                    <div class="section-title col-xs-4" translate="OFFER.PREVIEW.EXCHANGE_DATE"></div>
                    <div class="col-xs-8"><time>{{vm.offer.exchangeDate | date : 'dd-MM-yyyy'}}</time></div>
                </div>
                <div class="section-row row">
                    <div class="section-title col-xs-4" translate="OFFER.PREVIEW.COMPLETION_DATE"></div>
                    <div class="col-xs-8"><time>{{vm.offer.completionDate | date : 'dd-MM-yyyy'}}</time></div>
                </div>
            </div>
            <div class="section-details">
                <div class="section-row row">
                    <div class="col-xs-12">
                        <h5 translate="OFFER.PREVIEW.NEGOTIATOR"></h5>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel panel-default applicant">
                            <div class="panel-body">
                                {{ vm.offer.negotiator.getName() }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4" id="offer-progress-section" ng-if="!vm.isOfferNew()">
        <section>
            <h3 class="page-header" translate="OFFER.VIEW.PROGRESS_SUMMARY"></h3>
            <div class="section-details">
                <div class="section-row row">
                    <div class="col-xs-4 section-title" translate="OFFER.VIEW.MORTGAGE_STATUS"></div>
                    <div class="col-xs-8"><span id="offer-mortgage-status" class="status status-{{::vm.offer.mortgageStatusId | enumClass}}">{{::vm.offer.mortgageStatusId | dynamicTranslate}}</span></div>
                </div>
                <div class="section-row row">
                    <div class="col-xs-4 section-title" translate="OFFER.VIEW.MORTGAGE_SURVEY_STATUS"></div>
                    <div class="col-xs-8"><span id="mortgage-survey-status" class="status status-{{::vm.offer.mortgageSurveyStatusId | enumClass}}">{{::vm.offer.mortgageSurveyStatusId | dynamicTranslate}}</span></div>
                </div>
                <div class="section-row row">
                    <div class="col-xs-4 section-title" translate="OFFER.VIEW.ADDITIONAL_SURVEY_STATUS"></div>
                    <div class="col-xs-8"><span id="additional-survey-status" class="status status-{{::vm.offer.additionalSurveyStatusId | enumClass}}">{{::vm.offer.additionalSurveyStatusId | dynamicTranslate}}</span></div>
                </div>
                <div class="section-row row">
                    <div class="col-xs-4 section-title" translate="OFFER.VIEW.SEARCH_STATUS"></div>
                    <div class="col-xs-8"><span id="search-status" class="status status-{{::vm.offer.searchStatusId | enumClass}}">{{::vm.offer.searchStatusId | dynamicTranslate}}</span></div>
                </div>
                <div class="section-row row">
                    <div class="col-xs-4 section-title" translate="OFFER.VIEW.ENQUIRIES"></div>
                    <div class="col-xs-8"><span id="enquiries" class="status status-{{::vm.offer.enquiriesId | enumClass}}">{{::vm.offer.enquiriesId | dynamicTranslate}}</span></div>
                </div>
                <div class="section-row row">
                    <div class="col-xs-4 section-title" translate="OFFER.VIEW.CONTRACT_APPROVED"></div>
                    <div class="col-xs-8"><span id="contract-approved" class="status" ng-class="{'status-no': !vm.offer.contractApproved, 'status-yes': vm.offer.contractApproved}"></span></div>
                </div>
            </div>
        </section>

        <section>
            <h3 class="page-header" translate="OFFER.VIEW.MORTGAGE_DETAILS"></h3>
            <div class="section-details">
                <div class="section-row row">
                    <percent-number-view-control value="vm.offer.mortgageLoanToValue" config="vm.config.offer_MortgageLoanToValue" schema="vm.controlSchemas.mortgageLoanToValue"></percent-number-view-control>
                </div>
            </div>
            <div class="section-details">
                <div class="section-row row">
                    <div class="col-xs-12">
                        <h5 translate="OFFER.VIEW.BROKER"></h5>
                        <p ng-if="!vm.offer.broker" class="help-block" id="no-contacts-help-block" translate="OFFER.EDIT.NO_BROKER"></p>
                        <card-list-item class="offer-broker" ng-if="!!vm.offer.broker">
                            <card show-context-menu="false" card-template-url="'app/offer/view/offerContactCard.html'" item="vm.offer.broker">
                            </card>
                        </card-list-item>
                    </div>
                </div>
            </div>
            <div class="section-details">
                <div class="section-row row">
                    <div class="col-xs-12">
                        <h5 translate="OFFER.VIEW.LENDER"></h5>
                        <p ng-if="!vm.offer.lender" class="help-block" id="no-contacts-help-block" translate="OFFER.EDIT.NO_LENDER"></p>
                        <card-list-item class="offer-lender" ng-if="!!vm.offer.lender">
                            <card show-context-menu="false" card-template-url="'app/offer/view/offerContactCard.html'" item="vm.offer.lender">
                            </card>
                        </card-list-item>
                    </div>
                </div>
            </div>

            <div class="section-details">
                <div class="section-row row">
                    <div class="col-xs-4 section-title" translate="OFFER.VIEW.MORTGAGE_SURVEY_DATE"></div>
                    <div ng-if="vm.offer.mortgageSurveyDate">
                        <div class="col-xs-8 mortgage-survey-date"><time>{{::vm.offer.mortgageSurveyDate | date : 'dd-MM-yyyy'}}</time></div>
                    </div>
                    <div ng-if="!vm.offer.mortgageSurveyDate">
                        <div class="col-xs-8 mortgage-survey-date">-</div>
                    </div>
                </div>
            </div>

            <div class="section-details">
                <div class="section-row row">
                    <div class="col-xs-12">
                        <h5 translate="OFFER.VIEW.SURVEYOR"></h5>
                        <p ng-if="!vm.offer.surveyor" class="help-block" id="no-contacts-help-block" translate="OFFER.EDIT.NO_SURVEYOR"></p>
                        <card-list-item class="offer-surveyor" ng-if="!!vm.offer.surveyor">
                            <card show-context-menu="false" card-template-url="'app/offer/view/offerContactCard.html'" item="vm.offer.surveyor">
                            </card>
                        </card-list-item>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h3 class="page-header" translate="OFFER.VIEW.ADDITIONAL_SURVEY"></h3>
            <div class="section-details">
                <div class="section-row row">
                    <div class="col-xs-4 section-title" translate="OFFER.VIEW.DATE"></div>
                    <div ng-if="vm.offer.additionalSurveyDate">
                        <div class="col-xs-8 additional-survey-date">
                            <time>{{::vm.offer.additionalSurveyDate | date : 'dd-MM-yyyy'}}</time>
                        </div>
                    </div>
                    <div ng-if="!vm.offer.additionalSurveyDate">
                        <div class="col-xs-8 additional-survey-date">-</div>
                    </div>
                </div>
            </div>

            <div class="section-details">
                <div class="section-row row">
                    <div class="col-xs-12">
                        <h5 translate="OFFER.VIEW.SURVEYOR"></h5>
                        <p ng-if="!vm.offer.additionalSurveyor" class="help-block" id="no-contacts-help-block" translate="OFFER.EDIT.NO_SURVEYOR"></p>
                        <card-list-item class="offer-additional-surveyor" ng-if="!!vm.offer.additionalSurveyor">
                            <card show-context-menu="false" card-template-url="'app/offer/view/offerContactCard.html'" item="vm.offer.additionalSurveyor">
                            </card>
                        </card-list-item>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h3 class="page-header" translate="OFFER.VIEW.OTHER_DETAILS"></h3>
            <div id="comment" class="section-details">
                <h5 translate="OFFER.VIEW.COMMENT"></h5>
                <div ng-if="vm.offer.progressComment">
                    <p>{{::vm.offer.progressComment}}</p>
                </div>
                <div ng-if="!vm.offer.progressComment">
                    <p>-</p>
                </div>
            </div>
        </section>
    </div>
</div>

<side-panel component-id="vm.componentIds.activityPreviewSidePanelId">
    <side-panel-header>
        <h3 translate="ACTIVITY.PREVIEW.ACTIVITYPREVIEW"></h3>
    </side-panel-header>
    <side-panel-content>
        <div class="row section-row">
            <div class="col-xs-5">
                <a ui-sref="app.activity-view({id: vm.offer.activity.id})" translate="ACTIVITY.PREVIEW.ACTIVITY_VIEW_LINK"></a>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-12">
                <h4 translate="OFFER.VIEW.BASIC_INFORMATION"></h4>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.STATUS"></div>
            <div class="col-xs-7" id="activity-preview-status">{{vm.offer.activity.activityStatusId | dynamicTranslate}} </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="OFFER.PREVIEW.NEGOTIATOR"></div>
            <div class="col-xs-7" id="activity-preview-negotiator">{{vm.offer.negotiator.getName()}} </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.CREATION_DATE"></div>
            <div class="col-xs-7" id="activity-preview-created-date">{{vm.offer.activity.createdDate | date : 'dd-MM-yyyy'}}</div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.VENDORS"></div>
            <div class="col-xs-7" id="activity-preview-vendors">
                <div class="row">
                    <div class="col-md-12" id="activity-preview-vendor-item-{{contact.id}}" ng-repeat="contact in vm.offer.activity.contacts track by $id(contact)">
                        {{contact.getName()}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-5" translate="ACTIVITY.PREVIEW.TYPE"></div>
            <div class="col-xs-7" id="activity-preview-type">{{vm.offer.activity.activityTypeId | dynamicTranslate}} </div>
        </div>
    </side-panel-content>
</side-panel>