<div class="row">
    <div id="view-offer-header" class="col-md-12">
        <h2 class="page-header" translate="OFFER.VIEW.VIEW_OFFER"></h2>
        <div class="well">
            <button type="button" class="btn btn-default pull-right" ng-click="vm.goToEdit()"><i class="fa fa-pencil"></i> <span translate="COMMON.EDIT"></span></button>
            <div>
                <span class="offer-status offer-status-{{vm.offer.statusId | enumClass}}">{{vm.offer.statusId | dynamicTranslate}}</span>
                <span class="offer-title">{{vm.offer.requirement.getContactNames()}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <section id="section-vendor">
            <h3 class="page-header" translate="OFFER.VIEW.VENDOR" ng-if="vm.config.offer_Vendor"></h3>
            <h3 class="page-header" translate="OFFER.VIEW.LANDLORD" ng-if="vm.config.offer_Landlord"></h3>

            <h5 translate="OFFER.PREVIEW.ACTIVITY"></h5>
            <card-list-item class="offer-view-activity">
                <card show-context-menu="true" show-item-details="vm.showActivityPreview" display-new-control="true"
                      card-template-url="'app/offer/view/offerActivityCard.html'" item="vm.offer">
                    <card-context-menu>
                        <context-menu-item type="details" item="vm.offer.activity" action="vm.navigateToActivity"></context-menu-item>
                    </card-context-menu>
                </card>
            </card-list-item>
            <company-contact-view-control schema="vm.controlSchemas.activitySolicitor"
                                          config="vm.config.offer_Activity_Solicitor"
                                          company-contact="vm.offer.activity.solicitorCompanyContact">
            </company-contact-view-control>
        </section>
        <section id="section-applicant">
            <h3 class="page-header" translate="OFFER.VIEW.APPLICANT"></h3>

            <h5 translate="VIEWING.ADD.REQUIREMENT"></h5>
            <card-list-item class="offer-view-requirement">
                <card show-context-menu="true" display-new-control="true"
                      card-template-url="'app/offer/view/offerRequirementCard.html'" item="vm.offer">
                    <card-context-menu>
                        <context-menu-item type="details" item="vm.offer.requirement" action="vm.navigateToRequirement"></context-menu-item>
                    </card-context-menu>
                </card>
            </card-list-item>
            <company-contact-view-control schema="vm.controlSchemas.requirementSolicitor"
                                          config="vm.config.offer_Requirement_Solicitor"
                                          company-contact="vm.offer.requirement.solicitorCompanyContact">
            </company-contact-view-control>
        </section>
    </div>
    <div class="col-md-4">
        <section id="section-basic-information">
            <h3 class="page-header" translate="OFFER.VIEW.BASIC_INFORMATION"></h3>

            <div class="section-details">
                <enum-item-view-control ng-model="vm.offer.statusId" config="vm.config.offer_Status" schema="vm.controlSchemas.status"></enum-item-view-control>
                <price-view-control price="vm.offer.price" config="vm.config.offer_Price" schema="vm.controlSchemas.price"></price-view-control>
                <price-view-control price="vm.offer.pricePerWeek" config="vm.config.offer_PricePerWeek" schema="vm.controlSchemas.pricePerWeek"></price-view-control>
                <date-view-control date="vm.offer.offerDate" config="vm.config.offer_OfferDate" schema="vm.controlSchemas.offerDate"></date-view-control>
            </div>
            <div class="section-details">
                <textarea-view-control text="vm.offer.specialConditions" config="vm.config.offer_SpecialConditions" schema="vm.controlSchemas.specialConditions"></textarea-view-control>
            </div>
            <div class="section-details">
                <date-view-control date="vm.offer.exchangeDate" config="vm.config.offer_ExchangeDate" schema="vm.controlSchemas.exchangeDate"></date-view-control>
                <date-view-control date="vm.offer.completionDate" config="vm.config.offer_CompletionDate" schema="vm.controlSchemas.completionDate"></date-view-control>
            </div>
            <div class="section-details">
                <div class="section-row row">
                    <div class="col-xs-12">
                        <h5 translate="OFFER.PREVIEW.NEGOTIATOR"></h5>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel panel-default applicant">
                            <div class="panel-body">
                                {{ vm.offer.negotiator.getName() }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4" id="offer-progress-section" ng-if="vm.isProgressAndMortgageSectionVisible()">
        <section>
            <h3 class="page-header" translate="OFFER.VIEW.PROGRESS_SUMMARY" ng-if="vm.isProgressSummarySectionVisible()"></h3>
            <div class="section-details">
                <enum-item-view-control ng-model="vm.offer.mortgageStatusId" show-status-icon="true" config="vm.config.offer_MortgageStatus" schema="vm.controlSchemas.mortgageStatus"></enum-item-view-control>
                <enum-item-view-control ng-model="vm.offer.mortgageSurveyStatusId" show-status-icon="true" config="vm.config.offer_MortgageSurveyStatus" schema="vm.controlSchemas.mortgageSurveyStatus"></enum-item-view-control>
                <enum-item-view-control ng-model="vm.offer.additionalSurveyStatusId" show-status-icon="true" config="vm.config.offer_AdditionalSurveyStatus" schema="vm.controlSchemas.additionalSurveyStatus"></enum-item-view-control>
                <enum-item-view-control ng-model="vm.offer.searchStatusId" show-status-icon="true" config="vm.config.offer_SearchStatus" schema="vm.controlSchemas.searchStatus"></enum-item-view-control>
                <enum-item-view-control ng-model="vm.offer.enquiriesId" show-status-icon="true" config="vm.config.offer_Enquiries" schema="vm.controlSchemas.enquiries"></enum-item-view-control>
                <radio-buttons-view-control id="contact-approved" config="vm.config.offer_ContractApproved" ng-model="vm.offer.contractApproved"
                                            schema="vm.controlSchemas.contractApproved">
                </radio-buttons-view-control>
            </div>
        </section>

        <section ng-if="vm.isMortgageDetailsSectionVisible()">
            <h3 class="page-header" translate="OFFER.VIEW.MORTGAGE_DETAILS"></h3>
            <div class="section-details">
                <percent-number-view-control value="vm.offer.mortgageLoanToValue" config="vm.config.offer_MortgageLoanToValue" schema="vm.controlSchemas.mortgageLoanToValue"></percent-number-view-control>
            </div>
            <div class="section-details">
                <company-contact-view-control schema="vm.controlSchemas.broker"
                                              config="vm.config.offer_Broker"
                                              company-contact="vm.offer.brokerCompanyContact">
                </company-contact-view-control>
            </div>
            <div class="section-details">
                <company-contact-view-control schema="vm.controlSchemas.lender"
                                              config="vm.config.offer_Lender"
                                              company-contact="vm.offer.lenderCompanyContact">
                </company-contact-view-control>
            </div>


            <div class="section-details">
                <date-view-control date="vm.offer.mortgageSurveyDate" config="vm.config.offer_MortgageSurveyDate" schema="vm.controlSchemas.mortgageSurveyDate"></date-view-control> 
            </div>

            <div class="section-details">
                <company-contact-view-control schema="vm.controlSchemas.surveyor"
                                              config="vm.config.offer_Surveyor"
                                              company-contact="vm.offer.surveyorCompanyContact">
                </company-contact-view-control>
            </div>
        </section>

        <section ng-if="vm.isAdditionalSurveySectionVisible()">
            <h3 class="page-header" translate="OFFER.VIEW.ADDITIONAL_SURVEY"></h3>
            <date-view-control date="vm.offer.additionalSurveyDate" config="vm.config.offer_AdditionalSurveyDate" schema="vm.controlSchemas.additionalSurveyDate"></date-view-control> 
            <div class="section-details">
                <company-contact-view-control schema="vm.controlSchemas.additionalSurveyor"
                                              config="vm.config.offer_AdditionalSurveyor"
                                              company-contact="vm.offer.additionalSurveyorCompanyContact">
                </company-contact-view-control>
            </div>
        </section>

        <section ng-if="vm.isOtherDetailsSectionVisible()">
            <h3 class="page-header" translate="OFFER.VIEW.OTHER_DETAILS"></h3>
            <textarea-view-control text="vm.offer.progressComment" config="vm.config.offer_ProgressComment" schema="vm.controlSchemas.progressComment"></textarea-view-control>
        </section>
    </div>
</div>

<side-panel component-id="vm.componentIds.activityPreviewSidePanelId">
    <side-panel-header>
        <h3 translate="ACTIVITY.PREVIEW.ACTIVITYPREVIEW"></h3>
    </side-panel-header>
    <side-panel-content>
        <div class="row section-row">
            <div class="col-xs-6">
                <a ui-sref="app.activity-view({id: vm.offer.activity.id})" translate="ACTIVITY.PREVIEW.ACTIVITY_VIEW_LINK"></a>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-12">
                <h4 translate="OFFER.VIEW.BASIC_INFORMATION"></h4>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-6 section-title" translate="ACTIVITY.PREVIEW.STATUS"></div>
            <div class="col-xs-6" id="activity-preview-status">{{vm.offer.activity.activityStatusId | dynamicTranslate}} </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-6 section-title" translate="OFFER.PREVIEW.NEGOTIATOR"></div>
            <div class="col-xs-6" id="activity-preview-negotiator">{{vm.offer.negotiator.getName()}} </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-6 section-title" translate="ACTIVITY.PREVIEW.CREATION_DATE"></div>
            <div class="col-xs-6" id="activity-preview-created-date">{{vm.offer.activity.createdDate | date : 'dd-MM-yyyy'}}</div>
        </div>
        <div class="row section-row">
            <div class="col-xs-6 section-title" translate="ACTIVITY.PREVIEW.VENDORS"></div>
            <div class="col-xs-6" id="activity-preview-vendors">
                <div class="row">
                    <div class="col-md-12" id="activity-preview-vendor-item-{{contact.id}}" ng-repeat="contact in vm.offer.activity.contacts track by $id(contact)">
                        {{contact.getName()}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-6 section-title" translate="ACTIVITY.PREVIEW.TYPE"></div>
            <div class="col-xs-6" id="activity-preview-type">{{vm.offer.activity.activityTypeId | dynamicTranslate}} </div>
        </div>
    </side-panel-content>
</side-panel>