<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="ACTIVITY.VIEW.VIEW_ACTIVITY"></h2>
        <div id="activity-view-well" class="well">
            <div>
                <span id="activity-view-well-createdDate">{{avvm.activity.createdDate | date : 'dd-MM-yyyy'}}</span>
            </div>
            <div>
                <span id="activity-view-well-activityStatus">{{avvm.activity.activityStatusId | enumTranslate}}</spanid="activity-view-well-createdDate">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <fieldset>
                        <legend translate="ACTIVITY.VIEW.PROPERTY"></legend>
                        <card id="activity-view-card-property" card-template-url="'app/property/templates/propertyCard.html'" item="avvm.activity.property" show-item-details="avvm.showPropertyPreview">
                        </card>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <fieldset>
                        <list id="list-vendors">
                            <list-header>
                                <legend translate="ACTIVITY.VIEW.VENDORS"></legend>
                            </list-header>
                            <list-no-items ng-show="avvm.activity.contacts.length === 0">
                                <p class="help-block" translate="ACTIVITY.VIEW.NO_VENDORS"></p>
                            </list-no-items>
                            <list-item id="list-item-vendor-{{contact.id}}" ng-repeat="contact in avvm.activity.contacts">
                                {{contact.getName()}}
                            </list-item>
                        </list>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<side-panel component-id="avvm.componentIds.propertyPreviewSidePanelId">
    <side-panel-header>
        <h3 translate="PROPERTY.PREVIEW.PROPERTY_PREVIEW"></h3>
    </side-panel-header>
    <side-panel-content>
        <property-preview component-id="avvm.componentIds.propertyPreviewId">
        </property-preview>
    </side-panel-content>
</side-panel>