<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="ACTIVITY.VIEW.VIEW_ACTIVITY"></h2>
        <div class="well">
            <div>
                <span>{{avvm.activity.createdDate | date : 'dd-MM-yyyy'}}</span>
            </div>
            <div>
                <span>{{avvm.activity.activityStatusId | enumTranslate}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <fieldset>
                        <legend translate="ACTIVITY.VIEW.PROPERTY"></legend>
                        <card card-template-url="'app/property/templates/propertyCard.html'" item="avvm.activity.property" show-item-details="avvm.showPropertyPreview">
                        </card>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <fieldset>
                        <list>
                            <list-header>
                                <legend translate="ACTIVITY.VIEW.VENDORS"></legend>
                            </list-header>
                            <list-no-items ng-show="avvm.activity.contacts.length === 0">
                                <p class="help-block" translate="ACTIVITY.VIEW.NO_VENDORS"></p>
                            </list-no-items>
                            <list-item ng-repeat="contacts in avvm.activity.contacts">
                                {{contacts.getName()}}
                            </list-item>
                        </list>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
