<div class="card-columns row">
    <div class="col-sm-4 col-md-2 col-lg-2">
        <div class="card-columns-header"><h4 translate="ACTIVITY.VIEW.OFFERS.DETAILS.OFFER"></h4></div>
        <div ng-if="vm.item.price != null">
            <span class="offer-price">{{vm.item.price | number: 2: true}} {{'GBP' | translate}}</span>
        </div>
        <div ng-if="vm.item.pricePerWeek != null">
            <span class="offer-price">{{vm.item.pricePerWeek | number: 2: true }} {{'REQUIREMENT.VIEW.OFFER_PER_WEEK' | translate}}</span>
        </div>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <div class="card-columns-header"><h4 translate="ACTIVITY.VIEW.OFFERS.DETAILS.LEAD_NEGOTIATOR"></h4></div>
        <div>{{vm.item.negotiator.firstName + ' ' + vm.item.negotiator.lastName}}</div>
    </div>
    <div class="col-sm-4 col-md-2 col-lg-2">
        <div class="card-columns-header"><h4 translate="ACTIVITY.VIEW.OFFERS.DETAILS.PROPOSED_EXCHANGE"></h4></div>
        <time>{{(vm.item.exchangeDate | date : 'dd-MM-yyyy') || '-'}}</time>
    </div>
    <!--<div class="col-sm-12 col-md-5 col-lg-6">
        <div class="card-columns-header"><h4 translate="ACTIVITY.VIEW.OFFERS.DETAILS.LATEST_NOTE"></h4></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem mollitia modi ducimus sapiente maiores quaerat culpa minima odit magnam magni. Vero quas exercitationem autem assumenda fugit tempore ut voluptas quisquam at. Aliquid doloribus, dignissimos magnam iure? Aperiam ex nesciunt quam consequatur, culpa alias id necessitatibus placeat, delectus, corporis assumenda eos...</p>
    </div>-->
</div>