<div class="card-item">
    <span>{{cvm.item.requirement.getContactNames()}}</span>
</div>
<div class="card-info">
    <span class="offer-status offer-status-{{cvm.item.statusId | dynamicTranslate | lowercase}}">{{cvm.item.statusId | dynamicTranslate}}</span><span class="offer-price">{{cvm.item.price}} GBP</span>
</div>

<!-- Cards with header

<div class="card-columns row">
    <div class="col-sm-4 col-md-2 col-lg-2">
        <div class="card-columns-header"><h4>Offer</h4></div>
        <div>180,000 GBP</div>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <div class="card-columns-header"><h4>Lead negotiator</h4></div>
        <div>Jan Kowalski</div>
    </div>
    <div class="col-sm-4 col-md-2 col-lg-2">
        <div class="card-columns-header"><h4>Proposed exchange</h4></div>
        <time>12-05-2016</time>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-6">
        <div class="card-columns-header"><h4>Latest note</h4></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem mollitia modi ducimus sapiente maiores quaerat culpa minima odit magnam magni. Vero quas exercitationem autem assumenda fugit tempore ut voluptas quisquam at. Aliquid doloribus, dignissimos magnam iure? Aperiam ex nesciunt quam consequatur, culpa alias id necessitatibus placeat, delectus, corporis assumenda eos...</p>
    </div>
</div>

-->