<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="ACTIVITY.VIEW.VIEW_ACTIVITY"></h2>
        <div id="activity-view-well" class="well">
            <button type="button" class="btn btn-default pull-right" ng-click="avvm.goToEdit()"><i class="fa fa-pencil"></i> <span translate="COMMON.EDIT"></span></button>
            <div>
                <span id="createdDate">{{avvm.activity.createdDate | date : 'dd-MM-yyyy'}}</span>
            </div>
            <div>
                <span id="activityStatus">{{avvm.activity.activityStatusId | enumTranslate}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <section id="activity-view-prices">
                    <h3 class="page-header" translate="ACTIVITY.VIEW.PRICES.PRICES"></h3>
                    <div class="section-row row">
                        <div class="col-xs-6" translate="ACTIVITY.VIEW.PRICES.MARKET_APPRAISAL_PRICE"></div>
                        <div id="marketAppraisalPrice" class="col-xs-6" ng-if="avvm.activity.marketAppraisalPrice !== null">{{avvm.activity.marketAppraisalPrice | number : 2 }} GBP</div>
                    </div>
                    <div class="section-row row">
                        <div class="col-xs-6" translate="ACTIVITY.VIEW.PRICES.RECOMMENDED_PRICE"></div>
                        <div id="recommendedPrice" class="col-xs-6" ng-if="avvm.activity.recommendedPrice !== null">{{avvm.activity.recommendedPrice | number : 2 }} GBP</div>
                    </div>
                    <div class="section-row row">
                        <div class="col-xs-6" translate="ACTIVITY.VIEW.PRICES.VENDOR_ESIMATED_PRICE"></div>
                        <div id="vendorEstimatedPrice" class="col-xs-6" ng-if="avvm.activity.vendorEstimatedPrice !== null">{{avvm.activity.vendorEstimatedPrice | number : 2 }} GBP</div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section id="activity-view-property">
                    <h3 class="page-header" translate="ACTIVITY.VIEW.PROPERTY"></h3>
                    <card id="card-property" card-template-url="'app/property/templates/propertyCard.html'" item="avvm.activity.property" show-item-details="avvm.showPropertyPreview">
                    </card>
                </section>
                <section id="activity-view-vendors">
                    <list id="list-vendors">
                        <list-header>
                            <h3 class="page-header" translate="ACTIVITY.VIEW.VENDORS"></h3>
                        </list-header>
                        <list-no-items ng-show="avvm.activity.contacts.length === 0">
                            <p class="help-block" translate="ACTIVITY.VIEW.NO_VENDORS"></p>
                        </list-no-items>
                        <list-item id="list-item-{{contact.id}}" ng-repeat="contact in avvm.activity.contacts">
                            {{contact.getName()}}
                        </list-item>
                    </list>
                </section>
            </div>
        </div>
    </div>
</div>

<side-panel component-id="avvm.componentIds.propertyPreviewSidePanelId">
    <side-panel-header>
        <h3 translate="PROPERTY.PREVIEW.PROPERTY_PREVIEW"></h3>
    </side-panel-header>
    <side-panel-content>
        <property-preview component-id="avvm.componentIds.propertyPreviewId">
        </property-preview>
    </side-panel-content>
</side-panel>