<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <knightfrank>
        <cloud>
            <storage xdt:Transform="Replace" xdt:Locator="Match(applicationName)"
                     applicationName="KnightFrank.Antares.Api" environment="#{AzureStorage.Enviroment}"
                     connectionString="#{AzureStorage.ConnectionString}"
                     corsEnabled="true" corsMaxAgeInSeconds="1800" corsAllowedHeaders="*" corsAllowedOrigins="*"/>
        </cloud>
    </knightfrank>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>