<section>
    <card-list id="card-list-attachments" show-item-add="vm.showAttachmentAdd" is-item-add-disabled="vm.isAttachmentUploadPanelBusy">
        <card-list-header ng-if="vm.header">
            <h3 class="page-header">{{vm.header | translate}}</h3>
        </card-list-header>
        <card-list-no-items ng-show="vm.data.attachments.length === 0">
            <p class="help-block" translate="ATTACHMENT.LIST.NO_ATTACHMENTS"></p>
        </card-list-no-items>
        <card-list-item ng-repeat="attachment in vm.data.attachments | orderBy: vm.attachmentsCartListOrder.name : vm.attachmentsCartListOrder.descending | limitTo: vm.filesNumberLimit track by attachment.id ">
            <card id="attachment-card-{{::attachment.id}}" card-template-url="'app/common/components/attachment/templates/attachmentCard.html'" item="attachment"
                  show-item-details="vm.showAttachmentPreview" display-new-control="true">
            </card>
        </card-list-item>
    </card-list>
</section>
<attachment-upload-panel is-visible="vm.data.isUploadPanelVisible" is-busy="vm.isAttachmentUploadPanelBusy" entity-id="vm.data.entityId" enum-document-type="{{vm.data.enumDocumentType}}" entity-type="{{vm.data.entityType}}" on-save-attachment="vm.saveAttachment(attachment)"></attachment-upload-panel>
<attachment-preview-panel is-visible="vm.data.isPreviewPanelVisible" entity-id="vm.data.entityId" entity-type="{{vm.data.entityType}}" attachment="vm.selectedAttachment"></attachment-preview-panel>
