<kf-side-panel-card>
    <side-panel-header>
        <h3 translate="PROPERTY.LISTCARD.SELECTPROPERTY"></h3>
    </side-panel-header>
    <side-panel-content>
        <div ng-show="vm.isLoading" translate="COMMON.LOADINGDATA"></div>
        <card-list-item class="property-card" ng-repeat="property in vm.properties track by property.id">
            <card show-context-menu="true"
                  show-item-details=""
                  display-new-control="true" 
                  card-selected="vm.cardSelected"
                  card-template-url="'app/property/listCard/propertyCard.html'"
                  item="property"
                  selected="property.selected" 
                  allow-selection="true">
                <card-context-menu>
                    <context-menu-item type="details" item="property" action="vm.navigateToProperty" external="true"></context-menu-item>
                </card-context-menu>
            </card>
        </card-list-item>
    </side-panel-content>
    <side-panel-footer>
        <button class="btn btn-default" type="button" ng-click="vm.close()">
            <i class="fa fa-ban"></i> <span translate="COMMON.CANCEL"></span>
        </button>
        <button class="btn btn-primary" type="button" ng-click="vm.save()" id="property-list-card-apply-button">
            <i class="fa fa-check" aria-hidden="true"></i> <span translate="COMMON.APPLY"></span>
        </button>
    </side-panel-footer>
</kf-side-panel-card>