<form ng-submit="vm.save()" name="addContactForm" method="post" novalidate>
    <div>
        <label for="title" translate="CONTACT.TITLE"></label>
        <input id="title" ng-model="vm.contact.title"/>
    </div>
    <div>
        <label for="firstName" translate="CONTACT.FIRSTNAME"></label>
        <input id="firstName" ng-model="vm.contact.firstName"/>
    </div>
    <div>
        <label for="surname" translate="CONTACT.SURNAME"></label>
        <input id="surname" ng-model="vm.contact.surname"/>
    </div>
    <div>
        <button type="submit" translate="COMMON.SAVE"></button>
    </div>
</form>
