<div class="row section-row">
    <div class="col-xs-6"><a href="" ng-click="ppvm.goToPropertyView()" translate="PROPERTY.PREVIEW.PROPERTY_VIEW_LINK"></a></div>
</div>
<div class="row section-row">
    <div class="col-xs-6 section-title" translate="PROPERTY.PREVIEW.ADDRESS"></div>
    <div class="col-xs-6" id="property-preview-address" ng-if="!!ppvm.property.address">
        <address-form-view address="ppvm.property.address"
                           template-url="'app/common/components/addressForm/addressFormView/templates/propertyAddressForm.html'"
                           address-type="property"></address-form-view>
    </div>
</div>