<div class="row">
    <div class="col-md-12">
        <h2 class="page-header" translate="PREFERENCES.HEADER"></h2>
        <form ng-submit="editPreferencesForm.$valid && vm.save()" name="editPreferencesForm" id="editPreferencesForm" method="post" novalidate>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <label for="salutation-format" translate="PREFERENCES.PREFERRED_SALUTATION"></label>
                                <enum-select id="salutationFormat" name="salutationFormat" ng-model="vm.defaultSalutationFormatId"
                                             enum-type-code="{{vm.enumTypeSalutationFormat}}" hide-empty-value="true"></enum-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-default"><i class="fa fa-ban"></i> <span translate="COMMON.CANCEL" ng-click="vm.cancelEditPreferences()"></span></button>
                        <button type="submit" class="btn btn-primary" id="preferences-save"><i class="fa fa-floppy-o"></i> <span translate="COMMON.SAVE"></span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
