<ng-form name='shortLetPricePerWeekControlForm' ng-if="vm.config">
    <div class="form-group" show-errors>
        <div class="row">
            <div class="col-md-7">
                <label for="short-let-price-per-week" translate="ACTIVITY.EDIT.PRICES.SHORT_LET_PRICE_PER_WEEK"></label>
                <div class="input-group">
                    <input ng-model="vm.ngModel"
                           id="short-let-price-per-week"
                           name="shortLetPricePerWeek" class="form-control" type="number" min="0" />
                    <div class="input-group-addon">GBP</div>
                </div>
                <div ng-messages="shortLetPricePerWeekControlForm.shortLetPricePerWeek.$error" ng-show="shortLetPricePerWeekControlForm.$submitted || shortLetPricePerWeekControlForm.shortLetPricePerWeek.$dirty">
                    <div ng-messages-include="app/common/views/errorMessages.html"></div>
                </div>
            </div>
        </div>
    </div>
</ng-form>